{% extends 'cms/modules/base-auth.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cms_login') }}
{% endblock %}

{% block body %}
    <section class="container" id="login">
        <div class="login-box">
            <div class="login-box-body">
				<div class="login-logo">
					<a href="https://www.kopclub.com.br"></a>
				</div>
                <form action="{{ path('cms_auth_login') }}" method="post" class="form-default">
                    <p class="login-box-msg">
                        {% if error %}
                            <span class="error">{% trans from 'cms' %}cms.message.invalid_credentials{% endtrans %}</span>
                        {% else %}
                            {% trans from 'cms' %}cms.message.restricted_access{% endtrans %}
                        {% endif %}
                    </p>
                    <div class="form-group has-feedback">
                        <input id="email" name="email" type="email" class="form-control" placeholder="{% trans from 'cms' %}cms.field.email{% endtrans %}" value="{{ last_email }}"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input id="password" name="password" type="password" class="form-control" placeholder="{% trans from 'cms' %}cms.field.password{% endtrans %}"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 pull-right ct-btn">
                            <button type="submit" class="btn btn-default btn-block btn-flat">{% trans from 'cms' %}cms.button.login{% endtrans %}</button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </section>

    <!-- {{ error }} -->
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cms_login') }}
{% endblock %}
