a {
    cursor: pointer;
}

input + span.help-block,
select + span.help-block {
    color: red;
}

.non-form-field {
    margin-top: 6px;
}

.skin-yellow {
    .main-header {
        .logo {
            background-image: url(../../images/cms/logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 40%;
            background-color: #000000;
            border-right-color: #000000;
        }

        .navbar {
            background-color: #161616;
        }
    }

    .wrapper,
    .main-sidebar,
    .left-side {
        background-color: #000000;
    }

    .sidebar-menu {
        &>li.header {
            background-color: #222222;
            color: #81694c;
        }

        &>li:hover>a,
        &>li.active>a,
        &>li.menu-open>a {
            background-color: #161616;
        }

        &>li.active>a,
        &>li.menu-open>a {
            background-color: #161616;
            border-left-color: #81694c;
        }

        &>li>.treeview-menu {
            background-color: #222222;
        }

        .treeview-menu>li>a {
            color: #aaaaaa;
        }

        .treeview-menu>li.active>a,
        .treeview-menu>li>a:hover {
            color: #ffffff;
        }
    }

    .sidebar a {
        color: #e6e6e6;
    }
}

.content-wrapper {
    background-color: #e6e6e6;
}

.box.box-primary {
    border-top-color: #81694c;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #81694c;
    border-color: #81694c;
}

.btn-primary {
    background-color: #81694c;
    border-color: #81694c;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
    background-color: #3e3324;
}

.btn-success {
    background-color: #4F805D;
    border-color: #4F805D;
}
