.login-page {
    background-image: url(../../images/cms/bg-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .login-box {
        margin-top: 30vh;

        .login-box-body {
            background-color: #000000;
        }

        button {
            color: #ffffff;
            background-color: #81694c;
            border: 0;
        }
    }

    .login-logo {
        margin: 0;

        a {
            background-image: url(../../images/cms/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            display: block;
            width: 100%;
            height: 60px;
            margin: 20px auto 25px;
        }
    }
}
