{% extends 'site/base.html.twig' %}
{% set area = 'about' %}

{% block title %}Conheça o programa de relacionamento da Kopenhagen{% endblock %}
{% block description %}O KOP CLUB é um universo exclusivo de pontos que se convertem em chocolates deliciosos para nossos bens mais preciosos: os clientes Kopenhagen.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="banner-parallax">
        <div class="shine banner-right"></div>
        <div class="shine black banner-left"></div>

        {#DASHBOARD#}
        {% include 'site/modules/dashboard.html.twig' %}

        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/sobre/banner.jpg') }})"></div>
        <div class="banner">
            <div class="line"></div>
            <div class="ct-caption">
                <div class="caption">
                    <h2>Sobre o <br/> KOP CLUB</h2>
                    <p class="gray w400">Mais do que fabricar chocolates de altíssima qualidade, a Kopenhagen entende cada cliente como pessoas únicas e especiais e, por isso, faz parte de momentos importantes de suas vidas. O <strong>Kop Club</strong> reconhece e valoriza esse vínculo, oferecendo experiências únicas aos apaixonados pelos chocolates <strong>Kopenhagen</strong>.</p>
                </div>
            </div>
        </div>
    </section>

    {#EXPERIENCE#}
    {% include 'site/sections/experience.html.twig' %}

    <section class="banner-parallax no-text">
        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/sobre/lingua-de-gato.jpg') }})"></div>
    </section>

    <section class="data">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-4 data-item">
                    <div class="line type2"></div>
                    <h4>2010</h4>
                    <p>O ano de lançamento do Kop Club<br/> marcou uma nova maneira de<br/> recompensar clientes especiais.</p>
                </div>
                <div class="col-sm-4 data-item">
                    <div class="line type2"></div>
                    <h4>2 MILHÕES</h4>
                    <p>de clientes já fazem parte do<br/> Kop Club e aproveitam todos<br/> os benefícios do programa.</p>
                </div>
                <div class="col-sm-4 data-item">
                    <div class="line type2"></div>
                    <h4>650 MILHÕES</h4>
                    <p>de pontos trocados no Kop Club que foram<br/> convertidos em presentes deliciosos.</p>
                </div>
            </div>
        </div>
    </section>

    {#REGISTER#}
    {% include 'site/sections/register.html.twig' %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
