<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | KOP CLUB</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="Kopenhagen, Kop Club, Clube Chocolate Kopenhagen, Programa Relacionamento Kopenhagen, Apaixonados por chocolate, kop club, clube Kopenhagen, relacionamento Kopenhagen, cliente preferencial, fidelidade Kopenhagen, beneficios Kopenhagen, vantagens Kop Club, resgate Kop Club, pontos Kop Club" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Kopenhagen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimum-scale=1">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('build/images/img-share.jpg') }}" />
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}" />
    <meta property="og:title" content="Kop Club" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="O Programa de Relacionamento exclusivo para você, cliente preferencial Kopenhagen." />

    {% block stylesheets %}
        {{ encore_entry_link_tags('site_general') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140144045-2" integrity="sha384-z/g1wXhJAP56Cz1ZSoKy5BPc9lbHHGA+IqAeoS9n9IijSTRTT4Ei4wm6v2zq3OUz" crossorigin="anonymous"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140144045-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NZQ3566');</script>
    <!-- End Google Tag Manager -->

    <!-- Dogma -->
    <script>
        (function(win, doc) {

            var code   = 'qREg4B9r3QKGO3kP0nsFP7gKu371VF8I';
            var domain = 'kopclub.com.br';

            function unique() {
                var id = 'dogma-' + Math.random().toString(36).substr(2, 9);
                if(!doc.getElementById(id)) {
                    return id;
                } else {
                    return unique();
                }
            }

            function init() {
                if(!win.dogma) {
                    console.log("Can't find 'window.dogma'");
                    return;
                }

                var id   = unique();
                var root = doc.createElement('div');
                root.setAttribute('id', id);
                doc.body.appendChild(root);
                var options = {
                    position : 'bottom',
                    theme    : 'light',
                    text     : 'Nós utilizamos cookies para personalizar a sua experiência no site.  Ao continuar navegando, você concorda com a nossa <a href="/regulamento" target="_blank" rel="noopener noreferrer noreferrerwhich">Política de Privacidade</a>.',
                    text     : 'Nós utilizamos cookies para personalizar a sua experiência no site. Ao continuar navegando, você concorda com a nossa <a href="/politicas-de-cookies" target="_blank" rel="noopener noreferrer noreferrerwhich">Política de Cookies</a> e <a href="/politicas-de-privacidade" target="_blank" rel="noopener noreferrer noreferrerwhich">Política de Privacidade</a>.',
                    variant  : 'floating',
                    domain   : {
                        code   : code,
                        domain : domain
                    },
                    handlers: {
                        cookie  : e => { /* console.log(e.event, e.data) */ },
                        consent : e => { /* console.log(e.event, e.data) */ }
                    },
                };

                win.dogma.init(root, options);
            }

            var css    = 'https://dogma.' + domain + '/dpc/asset/bundle.css?dm=' + code;
            var js     = 'https://dogma.' + domain + '/dpc/asset/bundle.js?dm='  + code;

            var lnk = doc.createElement('link');
            lnk.setAttribute('rel' , 'stylesheet');
            lnk.setAttribute('href', css);
            doc.head.appendChild(lnk)

            var scrpt = doc.createElement('script');
            scrpt.setAttribute('src', js);
            scrpt.onload = init;
            doc.head.appendChild(scrpt)
        })(window, document);
    </script>

    <style>
      .dgbn.light {
          --btn-bg: #81684b !important;
          --btn-color: white !important;
          /* --main-color: white !important; */
          font-family: "Omnes" !important;
      }

      .dgbn.light .footer {
        position: relative !important;
        padding: 20px 30px !important;
        background-color: #524230 !important;
        border-radius: 5px !important;
        align-items: stretch !important;
      }

      .dgbn.light button {
        padding: 10px 20px !important;
        border-radius: 5px !important;
        background: #81684b !important;
        font-family: "Omnes" !important;
        font-weight: 500 !important;
        line-height: 18px !important;
      }

      .dgbn.svelte-21fv68 button.transparent.svelte-21fv68.svelte-21fv68 {
        margin-right: 25px !important;
        margin-left: 25px !important;
        background: #81684b !important;
        color: white !important;
        font-family: "Omnes" !important;
        font-weight: 500 !important;
        line-height: 18px !important;
      }

      .dgbn.light p {
        color: white !important;
        font-weight: 300 !important;
        font-family: "Omnes" !important;
        align-self: center !important;
        line-height: 18px !important;
      }

      .dgbn.light .box p {
        color: #777!important;
      }

      .dgbn.light a {
        color: white !important;
        font-family: "Omnes" !important;
      }

      .dgbn.light .logo:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        height: 90px;
        background-size: contain !important;
        background-image: url( {{ asset('build/images/k.png') }} ) !important;
        background-repeat: no-repeat !important;
      }

      .dgbn.light .logo a {
        display: none !important;
      }

      @media only screen and (max-width: 549px) {
        .dgbn.light .logo {
          position: absolute;
          top: -10px !important;
          left: 0;
        }

        .dgbn.light p {
          margin-top: 0px !important;
          margin-left: 60px !important;
          margin-bottom: 15px !important;
        }

        .dgbn.svelte-21fv68 button.transparent.svelte-21fv68.svelte-21fv68 {
          width: 100% !important;
          margin-right: 0 !important;
          margin-left: 0 !important;
        }
      }
    </style>
    <!-- End Dogma -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe sandbox src="https://www.googletagmanager.com/ns.html?id=GTM-NZQ3566"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

{#HEADER#}
{% include 'site/modules/header.html.twig' with { 'area': area } %}

<main id="kc-site">
    {% block body %}{% endblock %}

    {#FOOTER#}
    {% include 'site/modules/footer.html.twig' with { 'area': area } %}
</main>

{% block scripts %}
    {{ encore_entry_script_tags('site_general') }}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js" integrity="sha384-mUwnAhqfq+AAZqzGDOOBVHSyB6nCxEvLpD9hkd5FN3ws2bZpssxPtDsfdH20Kiom" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js" integrity="sha384-DDj8xHAsOajJJvIpPx+30AvjO2OE4HVVmJcrHI+5d6uF43JyThBf+8PDR8e9RPtD" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js" integrity="sha384-jhWv8UxjnFuSnE74Luvnq7FAkDJwl3kN0UCiVDde3t29otcW86SAaRWDLyPby0GE" crossorigin="anonymous"></script>
<script src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js" integrity="sha384-txIOTTURaNt4WzcdQRBV92yjw8BksPlc7aRTYdn8oedU/IlATT13iY1IDD9Vx9qM" crossorigin="anonymous"></script>

</body>
</html>
