<!DOCTYPE html>
<html lang="pt-BR" id="landing">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | KOP CLUB</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="Kopenhagen, Kop Club, Clube Chocolate Kopenhagen, Programa Relacionamento Kopenhagen, Apaixonados por chocolate, kop club, clube Kopenhagen, relacionamento Kopenhagen, cliente preferencial, fidelidade Kopenhagen, beneficios Kopenhagen, vantagens Kop Club, resgate Kop Club, pontos Kop Club" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Kopenhagen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimum-scale=1">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('build/images/img-share.jpg') }}" />
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}" />
    <meta property="og:title" content="Kop Club" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="O Programa de Relacionamento exclusivo para você, cliente preferencial Kopenhagen." />

    {% block stylesheets %}
        {{ encore_entry_link_tags('site_general') }}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140144045-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140144045-2');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NZQ3566');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe sandbox src="https://www.googletagmanager.com/ns.html?id=GTM-NZQ3566"
  height="0" width="0" style="display:none; visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

<main id="kc-site" class="landing">
    {% block body %}{% endblock %}
</main>

{% block scripts %}
    {{ encore_entry_script_tags('site_landing') }}
{% endblock %}

</body>
</html>
