{% extends 'site/base.html.twig' %}
{% set area = 'callback_page' %}

{% block title %}Entre e garanta benefícios exclusivos{% endblock %}
{% block description %}Faça parte do KOP CLUB, o programa de relacionamento da Kopenhagen e garanta benefícios exclusivos. Se cadastre e ganhe até 100 pontos para começar a juntar.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="login-page">

        <div class="shine banner-right"></div>
        <div class="shine banner-left"></div>

        <div class="container">

            <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                    <div class="container-login">
                        <div class="left-panel">
                            <div class="bg-box" style="background-image: url({{ asset('build/images/bg-login.jpg') }})">
                            </div>
                        </div>
                        <div class="right-panel">
                            <header class="header">
                                <h2 class="title">
                                    Aguarde...
                                </h2>
                            </header>
                            <div class="content">
                                <p class="description">
                                    Acessando sua conta do <strong>Kop Club</strong>. Você será redirecionado em alguns segundos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_callback') }}
{% endblock %}
