{% extends 'site/base.html.twig' %}
{% set area = 'contact' %}

{% block title %}Entre em contato com a gente{% endblock %}
{% block description %}Queremos ouvir a sua opinião sobre o programa de relacionamento da Kopenhagen. Complete o formulário e entre em contato.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {#MODAL#}
    {% include 'site/modal/contact-success.html.twig' %}

    <section id="contact-page">
        <div class="shine contact-right"></div>

        <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                <div class="container-contact">
                  <div class="left-panel">
                      <div class="bg-box" style="background-image: url({{ asset('build/images/bg-contact.jpg') }})"></div>
                  </div>
                  <div class="right-panel">
                    <header class="header">
                        <h2 class="title">
                            Fale Conosco
                        </h2>
                    </header>
                    <div class="content">
                        <p class="description">Por favor, complete o formulário abaixo<br/>para submeter o seu pedido de contato:</p>
                        <br/>
                        <p><span>Informações pessoais:</span></p>
                        <form class="form-default" id="form-contact" method="post" action="#">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 field">
                                      <input name="name" type="text" placeholder="Nome *">
                                      <div class="error"></div>
                                    </div>

                                    <div class="col-sm-12 field">
                                      <input name="surname" type="text" placeholder="Sobrenome">
                                      <div class="error"></div>
                                    </div>

                                    <div class="col-sm-12 field">
                                        <input name="email" type="email" placeholder="E-mail *">
                                        <div class="error"></div>
                                    </div>

                                    <div class="col-sm-12 field">
                                        <input name="cpf" type="tel" placeholder="CPF *">
                                        <div class="error"></div>
                                    </div>

                                    <div class="col-sm-12 field">
                                        <input name="celular" type="tel" placeholder="Celular">
                                        <div class="error"></div>
                                    </div>

                                    <div class="col-sm-12 field">
                                        <select name="subject">
                                            <option value="" disabled selected>Assunto *</option>
                                            <option value="informacao">Informação</option>
                                            <option value="solicitacao">Solicitação</option>
                                            <option value="elogio">Elogio</option>
                                            <option value="sugestao">Sugestão</option>
                                            <option value="reclamacao">Reclamação</option>
                                        </select>
                                        <div class="error"></div>
                                    </div>

                                    <div class="col-sm-12 field auto">
                                        <textarea name="description" cols="30" rows="6" placeholder="Mensagem *"></textarea>
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-12 btns center" style="margin-top: 15px;">
                                        <input type="submit" id="btn-submit-contact" class="btn-default border" value="Enviar" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_contact') }}
{% endblock %}
