{% extends 'site/base.html.twig' %}
{% set area = 'cookies' %}

{% block title %}Conheça nossa política de cookies{% endblock %}
{% block description %}Programa de Relacionamento da Kopenhagen - Faça parte do KOP CLUB e garanta benefícios exclusivos. Se cadastre e ganhe até 100 pontos para começar a juntar.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="banner-parallax">
        <div class="shine banner-right"></div>
        <div class="shine black banner-left"></div>
        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-regulamento.jpg') }})"></div>
        <div class="banner">
            <div class="line"></div>
            <div class="ct-caption">
                <div class="caption">
                    <h2>Política de Cookies<br/>
                        KOP CLUB
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="box-text">
        <article class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-10">
                    <p>Mais do que fabricar chocolates de altíssima qualidade, a Kopenhagen entende cada cliente como pessoas únicas e especiais e, por isso, faz parte de momentos importantes de suas vidas. O Kop Club reconhece e valoriza esse vínculo, oferecendo experiências únicas aos apaixonados pelos chocolates Kopenhagen.
                    como Foco do programa é elevar ainda mais a excelência da experiência Kopenhagen, visando atender com excelência o interesse do investidor, a motivação do colaborador e a satisfação do consumidor. Fazer isto com transparência, informando como seus dados são utilizados é extremamente importante, por isto, valorizamos e respeitamos estas informações.</p>
                    <p>Esta Política de Cookies (Política) nao é um contrato e não cria nenhum direito ou obrigação legal, mas são diretrizes referentes ao nosso uso de cookies, sendo aplicada a todos que acessarem o Site <a href="/" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">www.kopclub.com.br</a> (“<a href="/" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">Site</a>”).</p>
                    <p>Nesta política usamos o termo “cookies” para nos referirmos aos cookies, web beacons e outras tecnologias similares</p>
                    <p>Para maiores informações sobre como utilizamos os dados pessoais que obtemos acesso, leia nossa <a href="/politicas-de-privacidade" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">Politica de Privacidade</a>.</p>

                    <h3>O Site utiliza cookies?</h3>
                    <p>Sim, utilizamos cookies e outras tecnologias similares para que aqueles que acessam o Site tenham a melhor experiência possível. </p>
                    <p>Ao continuar a visitar o Site ou usar nossos serviços, você está concordando com a utilização de cookies e tecnologias semelhantes para os fins descritos especificamente nesta Política.</p>

                    <h3>O que é um cookie?</h3>
                    <p>Um cookie é um pequeno arquivo adicionado ao seu dispositivo ou computador que permite ativar os recursos e funcionalidades do Site. Por exemplo, os cookies nos permitem identificar o seu dispositivo ou computador, viabilizando entrar e sair do Site com segurança, e nos ajudam a saber se alguém tentou acessar sua conta a partir de um outro dispositivo ou computador. Os cookies também nos permitem compartilhar conteúdo do KOP CLUB com facilidade, ajudando-nos a apresentar anúncios relevantes para você.</p>

                    <h3>Quando o Site utiliza cookies?</h3>
                    <p>O Site utiliza cookies no momento em que é realizado um acesso pelo usuário. Dessa forma, todos os navegadores que visitarem o Site receberão nossos cookies.</p>

                    <h3>Que tipos de cookies o Site utiliza?</h3>
                    <p>Usamos dois tipos de cookies: <strong style="font-weight: bold;">cookies persistentes</strong> e <strong style="font-weight: bold;">cookies de sessão</strong>.</p>
                    <p>Um <strong style="font-weight: bold;">cookie persistente</strong> ajuda a reconhecer o usuário, possibilitando retornar ou interagir com o Site. Depois de entrar no nosso Site, um cookie persistente permanecerá no seu navegador e será lido pelo Site no momento em que você retornar ou acessar o site   de um parceiro que utilize os nossos serviços.</p>
                    <p>Os <strong style="font-weight: bold;">cookies de sessão</strong> duram até a sessão terminar (geralmente durante a visita a um Site ou durante uma sessão do navegador).</p>

                    <h3>Para que os cookies são utilizados?</h3>
                    <p>Os cookies podem ser utilizados para reconhecê-lo quando você acessa o Site com o objetivo de armazenar suas preferências e para proporcionar uma experiência mais personalizada de acordo com suas configurações, além de tornar as suas interações com o Site mais rápidas e seguras. </p>
                    <p>Os cookies também tornam suas interações com o KOP CLUB mais rápidas e seguras.</p>
                    <p>Além disso, os cookies permitem que nós apresentemos publicidade dentro do Site. </p>

                    <h3>Controle de cookies</h3>
                    <p>A maioria dos navegadores permite que você controle cookies em suas configurações. Entretanto, se você limitar a utilização de cookies, você não terá a experiência que preparamos para você, pois não haverá mais a personalização.</p>
                    <p>Você também poderá impedir que configurações personalizadas sejam salvas, como por exemplo, nome de usuário e senha.</p>

                    <p>Como desativar ou remover os cookies?</p>
                    <p>Você pode escolher rejeitar ou bloquear tipos específicos de cookies que não sejam essenciais para o funcionamento do Site, configurados através da nossa central de privacidade, ao clicar nas preferências de cookies.</p>
                    <p>Porém, se você rejeitar ou apagar a utilização de cookies obrigatórios e essenciais para o funcionamento do Site (alterando cookies diretamente no navegador), algumas das funções do Site poderão não funcionar corretamente e o Site, na sua próxima visita, poderá não lembrar quais cookies você desativou. Por exemplo, se você desativar o cookie que identifica o usuário.</p>
                    <p>Dessa forma, ao utilizar o nosso Site sem apagar ou rejeitar os cookies obrigatórios, você concorda que podemos posicionar os cookies que você não apagou ou rejeitou nos seus dispositivos, para que o Site funcione normalmente e respeite a sua decisão.</p>

                    <h3>Alterações da Política de Cookies</h3>
                    <p>O KOP CLUB pode alterar esta Política de Cookies conforme necessário e a qualquer tempo, sendo as alterações informadas com destaque em nosso Site.</p>

                    <h3>Entre em contato</h3>
                    <p>Se você tiver dúvidas ou achar que suas preocupações não foram tratadas nesta Política de Cookies, entre em contato enviando um e-mail para <a href="mailto:privacidade@grupocrm.com.br" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">privacidade@grupocrm.com.br</a>.</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
