{% extends 'site/base.html.twig' %}
{% set area = 'how-to' %}

{% block title %}Cadastre-se e veja como é fácil participar{% endblock %}
{% block description %}Cadastre-se agora no KOP CLUB e tenha acesso a promoções e ofertas exclusivas. Troque os pontos acumulados a cada compra por chocolates deliciosos.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="banner-parallax">
        <div class="shine banner-right"></div>
        <div class="shine black banner-left"></div>
        {#DASHBOARD#}
        {% include 'site/modules/dashboard.html.twig' %}

        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-como-participar.jpg') }})"></div>
        <div class="banner">
            <div class="line"></div>
            <div class="ct-caption">
                <div class="caption">
                    <h2>COMO PARTICIPAR</h2>
                    <p class="gray w400">Cadastre-se agora no Kop Club e tenha acesso promoções e ofertas exclusivas, e troque os pontos acumulados a cada compra por prêmios deliciosos!</p>
                </div>
            </div>
        </div>
    </section>

    {#HOWTO#}
    {% include 'site/sections/howto.html.twig' %}

    {#PRODUCTS#}
    {% include 'site/sections/products.html.twig' %}

    {#REGISTER#}
    {% include 'site/sections/register.html.twig' %}


{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
