{% extends 'site/base.html.twig' %}
{% set area = 'home' %}

{% block title %}Garanta benefícios exclusivos{% endblock %}
{% block description %}Programa de Relacionamento da Kopenhagen - Faça parte do KOP CLUB e garanta benefícios exclusivos. Se cadastre e ganhe até 100 pontos para começar a juntar.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {#BANNER#}
    <section class="banner-default">
        <div class="shine banner-right"></div>
        <!-- <div class="shine black banner-left"></div> -->
        {#DASHBOARD#}
        {% include 'site/modules/dashboard.html.twig' %}
        <div class="swiper-container">
            <div class="swiper-wrapper" id="banner-content"></div>

            <div id="tsm-bg-how" style="position:absolute; top: 50%;"></div>
            <div id="tsm-thow" style="position:absolute; top: 65%;"></div>
            <div id="tsm-benefits-how" style="position:absolute; top: 80%;"></div>
        </div>
    </section>

    {#HOWTO#}
    {% include 'site/sections/howto.html.twig' %}

    {#PRODUCTS#}
    {% include 'site/sections/products.html.twig' %}

    {#REGISTER#}
    {% include 'site/sections/register.html.twig' %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_home') }}
{% endblock %}
