{% extends 'site/base.html.twig' %}
{% set area = 'legal' %}

{% block title %}Conheça nosso regulamento{% endblock %}
{% block description %}Programa de Relacionamento da Kopenhagen - Faça parte do KOP CLUB e garanta benefícios exclusivos. Se cadastre e ganhe até 100 pontos para começar a juntar.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="banner-parallax">
        <div class="shine banner-right"></div>
        <div class="shine black banner-left"></div>
        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-regulamento.jpg') }})"></div>
        <div class="banner">
            <div class="line"></div>
            <div class="ct-caption">
                <div class="caption">
                    <h2>REGULAMENTO<br/>
                        KOP CLUB
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="box-text">
        <article class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-10">
                    <h3>I - NOME DO PROGRAMA</h3>
                    <p>Kop Club</p>

                    <h3>II - SOBRE O PROGRAMA</h3>
                    <p>O Kop Club tem como objetivo reconhecer e presentear os clientes Kopenhagen e Kop Koffee, por meio da troca de pontos geradas por compras nas lojas físicas das duas marcas, pelo aplicativo Kopenhagen e por meio da plataforma de e-commerce Kopenhagen.</p>

                    <h3>III - COMO PARTICIPAR</h3>
                    <p>Ao manifestar a aceitação de participar do Programa, o consumidor deve realizar um cadastro com os dados básicos na própria loja onde for realizada a compra, ou pelo aplicativo Kopenhagen (disponível na App Store e Google Play), ou ainda por meio do site www.kopclub.com.br, sendo os seguintes dados inseridos no cadastro inicial:</p>

                    <ul>
                        <li>NOME COMPLETO</li>
                        <li>CPF</li>
                        <li>CELULAR COM DDD</li>
                        <li>E-MAIL</li>
                        <li>DATA DE NASCIMENTO</li>
                    </ul>

                    <p>Após a realização desse cadastro inicial, será necessário a complementação das informações por meio do site ou App do Programa, com o preenchimento das seguintes informações para realização do cadastro completo: endereço completo, estado civil e sexo.</p>
                    <p>Os cadastros e pontuações de Participantes são únicos, pessoais e intransferíveis, não sendo possível a inscrição conjunta de duas ou mais pessoas sob a mesma identificação. Ao efetivar seu cadastro com os dados básicos, tanto através da loja, quanto pelo site www.kopclub.com.br ou pelo aplicativo Kopenhagen, o Participante deixa claro que tem amplo conhecimento e concorda de modo pleno e irrestrito com todos os termos e condições estabelecidas no presente regulamento, recebendo automaticamente 50 pontos bônus.</p>
                    <p>Ao preencher o cadastro completo, o Participante ganha mais 50 pontos bônus, ambos com prazo de validade de 4 meses. Essas pontuações de bonificação poderão ser alteradas ou extintas a qualquer momento sem aviso prévio e serão válidas até 31/12/2022.</p>
                    <p>Após efetuar o cadastro na loja, ao acessar o site ou App pela primeira vez o Participante terá como login e senha o número do CPF informado no momento do cadastro.</p>
                    <p>Após o primeiro acesso, o Participante poderá trocar a senha a qualquer momento, mas aconselha-se trocar desde logo.</p>
                    <p>O Participante somente receberá pontos relativos a transações realizadas após a confirmação do seu cadastro. Cadastros realizados através de parcerias, que tenham em sua URL a extensão (exemplo: www.kopclub.com.br/facebook) só terão a pontuação bonificada caso o novo cadastro seja realizado especificamente através da URL informada na comunicação da ação.</p>
                    <p>Exemplo: “Pontuação bonificada somente para cadastros realizados via Facebook”</p>

                    <h3>IV - PARTICIPANTES</h3>
                    <p>Todos os consumidores, pessoas físicas, residentes no Brasil e maiores de 16 anos, que adquirirem produtos Kopenhagen e/ou Kop Koffee em qualquer uma das lojas físicas das suas redes, do Aplicativo ou da plataforma e-commerce Kopenhagen, estão aptos a participar gratuitamente do KOP CLUB, salvo exceção do parágrafo abaixo. Caso optem por participar, os interessados deverão  realizar o preenchimento de um cadastro na própria loja ou pelo site conforme referido no item III acima.</p>
                    <p>Não é permitida a participação de franqueados, funcionários e/ou colaboradores das lojas Kopenhagen e Kop Koffee, sejam elas próprias ou franqueadas.</p>

                    <h3>V - PONTUAÇÃO</h3>
                    <p>O consumidor já participante do programa, que não esteja com seu cadastro mínimo preenchido, não receberá as pontuações das compras até que regularize sua adesão ao programa com o preenchimento de todas as informações necessárias (Nome, CPF, Celular com DDD, e-mail e data de nascimento).</p>
                    <p>Todas as compras efetuadas pelos consumidores cadastrados no KOP CLUB irão gerar pontos para o Participante, considerando as seguintes regras:</p>
                    <p>No ato de cada compra em lojas físicas, o consumidor deverá informar seu CPF para que seus pontos sejam creditados em até 24 horas. A pontuação só será creditada com a presença física do cliente na loja, sendo totalmente vedada a atribuição de pontos a cadastros de terceiros, podendo ser exigido um documento de identificação com foto para conferência. Já para as compras efetuadas através do e-commerce ou aplicativo Kopenhagen, a pontuação será creditada no CPF informado no cadastro do cliente no site/app assim que o pedido for entregue ao Participante. A cada real (R$) utilizado na compra de produtos nas lojas participantes, o consumidor irá ganhar 1 (um) ponto em sua conta do KOP CLUB. Os valores referentes aos centavos no cupom fiscal não serão considerados no acúmulo de pontos do programa. O Programa KOP CLUB reserva-se o direito de alterar a conversão de pontos sem aviso prévio diante de datas comemorativas e/ou outras ações sazonais, inclusive para alguns produtos específicos.</p>
                    <p>O consumidor passará a ter o direito de trocar os pontos obtidos por presentes KOP CLUB após acumular, no mínimo, 150 (cento e cinquenta) pontos. Trocas institucionais, trocas de vale-presentes ou correlatas, não contabilizam pontos ao consumidor KOP CLUB.</p>
                    <p>Na hipótese de ocorrência de pontos não creditados, o consumidor deverá entrar em contato com os canais de atendimento do SAC, com até 4 dias a contar da data da compra, e enviar uma cópia da nota fiscal, cujos pontos não foram contabilizados para verificação e validação da equipe responsável pelo Programa. A Nota Fiscal deverá conter obrigatoriamente o CPF do titular do programa para que o lançamento seja efetuado.</p>
                    <p>A validação pode levar até 5 dias úteis e, em caso de validação positiva (aprovação de crédito), o processo de crédito poderá levar mais 3 dias úteis.</p>
                    <p>É importante que toda nota fiscal de compra vinculada ao Programa seja guardada para eventuais validações. A consulta de pontos poderá ser efetuada através do site do KOP CLUB, pelos canais de atendimento do SAC ou por meio do Aplicativo Kopenhagen.</p>
                    <p>Compras finalizadas sem a inclusão e ou associação do CPF não poderão ser computadas no programa. Não há como recuperar vendas finalizadas sem esta “marcação” para gerar pontos no programa. O CPF para associação ao programa e geração de pontos é a do cliente presente no caixa e que está realizando o pagamento da compra.</p>
                    <p>Os pontos acumulados não serão, em hipótese alguma, conversíveis em dinheiro. Caso o cliente não possua a quantidade mínima de pontos suficientes para efetuar a troca pelos produtos de bonificação, não será permitido complementar a quantia faltante em dinheiro ou qualquer outro meio de pagamento.</p>
                    <p>A troca dos pontos por presentes KOP CLUB é pessoal e intransferível e, poderá ser realizada somente em favor do titular do cadastro.</p>
                    <p>Compras que forem atreladas a um CNPJ não serão pontuadas no programa.</p>

                    <h3>VI - VALIDADE DOS PONTOS</h3>
                    <p>Os pontos obtidos terão validade de 4 meses (120 dias), a contar da data do crédito dos pontos na conta do Participante.</p>
                    <p>Não será possível a reativação ou resgate de pontos que já tenham expirado, sendo de responsabilidade exclusiva do consumidor o controle de saldo e da data de expiração dos pontos de sua titularidade por meio da consulta interna na área restrita do seu cadastro no site do programa ou aplicativo Kopenhagen na aba “Kop Club”.</p>

                    <h3>VII - RESGATES</h3>
                    <p>Todos os Participantes cadastrados ganharão pontos por suas compras e esses pontos serão utilizados para resgate de presentes KOP CLUB, que podem ser trocados em qualquer loja Kopenhagen participante, desde que o consumidor esteja devidamente cadastrado e faça a ativação do resgate por meio do aplicativo. As ativações e liberações dos resgates serão realizados pelo próprio Participante, através do Aplicativo Kopenhagen, onde este escolherá quais produtos deseja resgatar, e posteriormente, poderá retirá-los na loja física de sua preferência. Para isso, o Participante terá que fazer o download do aplicativo através da App Store ou do Google Play, fazer seu login no app por meio de seu e-mail cadastrado no Programa e sua senha pessoal, selecionar o ‘Menu Kop Club’, escolher o produto de preferência e a quantidade desejada, e finalizar clicando no botão ‘Resgatar’. </p>
                    <p>Ao clicar na opção ‘Resgatar’, o Participante poderá retirar os itens desejados na loja física de sua preferência imediatamente após o procedimento ser realizado. Para a utilização dos pontos, o consumidor deverá atingir 150 (cento e cinquenta) pontos, no mínimo.</p>
                    <p>Após feita a ativação de pontos no Aplicativo Kopenhagen, o Participante poderá realizar a troca dos produtos no momento em que desejar, devendo observar apenas o prazo de vencimento da pontuação, para proceder com o resgate na loja física. Na hipótese de o Participante realizar o procedimento para ‘Resgate’ no app, mas não finalizar a troca a tempo da data limite para expiração dos respectivos pontos, estes serão tidos como expirados, vez que a opção de ‘Resgate’ não interrompe a contagem do prazo limite de validade. </p>
                    <p>Caso o Participante já tenha realizado a ativação de pontos no Aplicativo Kopenhagen, mas, posteriormente, desista da troca sem ter efetuado o resgate do prêmio em loja física, este poderá cancelar o procedimento feito através do Aplicativo Kopenhagen, bastando clicar na opção “Cancelar”.</p>
                    <p>Os presentes KOP CLUB são pré-determinados e só poderão ser resgatados mediante compra de qualquer valor, apenas 24 horas após a primeira compra realizada sob o acúmulo de pontos. (Validação feita após 24 horas da primeira compra com input de pontos).</p>
                    <p>Com saldo mínimo a partir de 150 pontos, o consumidor poderá resgatar os seguintes produtos com a pontuação correspondente:</p>

                    <table>
                        <tbody>
                        <tr>
                            <td>Língua de Gato Tradicional 85g</td>
                            <td>300 pontos</td>
                        </tr>
                        <tr>
                            <td>Tablete Amargo 100g</td>
                            <td>300 pontos</td>
                        </tr>
                        <tr>
                            <td>Keep Kop Flocos de Arroz 120g</td>
                            <td>300 pontos</td>
                        </tr>
                        <tr>
                            <td>Tablete CSCJ 40g</td>
                            <td>150 pontos</td>
                        </tr>
                        </tbody>
                    </table>

                    <p>Comprando a partir de R$ 75,00 (setenta e cinco reais) em lojas físicas no mês de aniversário (do dia 1º ao último dia do mês), o Participante do programa ganhará uma Nhá Benta de 40 gramas, uma única vez, sujeito à disponibilidade de estoque no momento da compra. Por questões de segurança, a Kopenhagen se reserva ao direito de solicitar um documento original recente e com foto para comprovação da data. O processo de resgate da Nhá Benta de Aniversário será feito diretamente na loja física, sem necessidade de ação ou ativação via App.</p>
                    <p>O presente KOP CLUB destina-se à utilização exclusiva do cliente cadastrado, sendo pessoal e intransferível, não podendo ser comercializado. Por isso, para que os resgates sejam liberados, é preciso que durante o processo de finalização de resgate seja informado o CPF junto com um documento do titular associado.</p>
                    <p>O cliente poderá ser bloqueado no Programa KOP CLUB a qualquer momento, caso apresente qualquer irregularidade no cadastro, como informações incompletas ou computadas sem veracidade, além de fraude nas regras do programa. Para casos de bloqueio, os clientes não terão direito a usufruir dos benefícios do Programa KOP CLUB, como resgate de produtos nas lojas da rede. No entanto, o cadastro poderá ser desbloqueado e voltar ao funcionamento normal, após sua regularização por meio do SAC KOP CLUB.</p>
                    <p>Caso exista algum problema com o sistema da loja no ato da troca, o resgate do presente não poderá ser realizado, bem como não haverá nenhuma transação de troca ou crédito de pontos.</p>
                    <p>A troca dos pontos pelos produtos participantes está condicionada à disponibilidade desses produtos em estoque nas lojas. Nenhum consumidor será prejudicado em caso de indisponibilidade temporária de estoque para troca de pontuação, devendo se dirigir a outra loja mais próxima para a finalização do resgate dos pontos, ou entrar em contato via SAC para a realização das providencias cabíveis.</p>
                    <p>Para poder manter o fluxo de estoque das lojas, possibilitando o resgate e a fruição dos benefícios do presente programa a todos os Participantes, os resgates realizados por cada consumidor/CPF cadastrado e não poderão ultrapassar o limite máximo de 3.000 (três mil) pontos de troca por semana, devendo ser realizado exclusivamente pelo Participante, por meio do uso de e-mail e senha pessoal cadastrados no Programa e no Aplicativo Kopenhagen.</p>

                    <h3>VIII – PERSONAL SHOPPER</h3>
                    <p>O KOP CLUB também disponibilizará aos seus Participantes a opção de compra de produtos Kopenhagen via um Personal Shopper, pessoa que estará fisicamente em uma de nossas lojas participantes do Programa e fará vendas exclusivas e direcionadas às suas preferências.</p>
                    <p>O Personal Shopper entrará em contato com o Participante exclusivamente via WhatsApp, utilizando do contato celular disponibilizado no momento da realização do cadastro no Programa.</p>
                    <p>O Participante autoriza desde já e tem ciência que seus dados serão utilizados pelo Personal Shopper exclusivamente para contato de vendas.</p>

                    <h3>IX - PRAZO DE DURAÇÃO</h3>
                    <p>O presente Programa teve início em dezembro de 2010 e não tem data prevista para término.</p>
                    <p>O consumidor terá disponível um prazo de 120 dias, contados da data de disponibilização da informação do término do Programa, para efetuar a troca dos pontos acumulados (desde que tenha acumulado 150 pontos, no mínimo) por presentes KOP CLUB. Após 120 dias, contados a partir da data de disponibilização da informação do término do Programa, não será mais permitida a troca dos pontos acumulados pelo consumidor.</p>

                    <h3>X - ATENDIMENTO</h3>
                    <p>Todas as dúvidas relacionadas ao Programa KOP CLUB poderão ser esclarecidas no site do Programa (www.kopclub.com.br), com o preenchimento do formulário de atendimento próprio, ou pelos canais de atendimento do SAC.</p>

                    <h3>XI - POLÍTICA DE PRIVACIDADE</h3>
                    <p>O Programa KOP CLUB registra em seus processos de cadastramento informações dos consumidores Participantes. Todas as informações são armazenadas em bancos de dados com alto grau de segurança e restrição ao seu acesso.</p>
                    <p>As informações dos consumidores Participantes são utilizadas para garantir seu acesso ao Programa e seus benefícios. Além disso, as informações armazenadas servem também para oferecer novos produtos e serviços, para desenvolvimento de campanhas promocionais e para a análise e processamento de dados e estatísticas, melhorando a qualidade do atendimento aos Participantes.</p>
                    <p>O Programa KOP CLUB não comercializa as informações dos consumidores Participantes, e somente compartilha essa base com pessoas e empresas que sejam parceiras para a correta prestação dos serviços aqui ofertados. O Kop Club é um programa de fidelidade do Grupo CRM e poderá compartilhar os dados dos Participantes com outras empresas do Grupo CRM como a Kopenhagen e Chocolates Brasil Cacau. Toda a interação do Programa KOP CLUB com seus Participantes é feita mediante consentimento prévio, realizado no processo de cadastro. A alteração desta permissão pode ser feita a qualquer momento pelo site do Programa.</p>
                    <p>É de exclusiva responsabilidade do cliente a atualização dos dados de sua conta sempre que houver qualquer modificação das informações ali constantes, bem como a manutenção do sigilo do nome de usuário e/ou da senha de acesso relativos à sua conta pessoal, devendo o cliente comunicar imediatamente à Kopenhagen em caso de perda, divulgação ou roubo da senha, ou ainda de uso não autorizado da sua conta. É recomendada a troca periódica da senha pessoal por motivos de segurança.</p>
                    <p>Em respeito à legislação brasileira que cuida da proteção geral de dados, o cadastro completo dos consumidores poderá ser consultado e alterado a qualquer tempo pelo próprio Participante por meio da área logada do site ou aplicativo. O Participante pode ainda solicitar a exclusão de seu cadastro via canais de atendimento do SAC Kopenhagen, estando o Participante ciente de que a exclusão do seu cadastro pessoal também irá gerar a perda automática de todos os pontos acumulados no programa, sem possibilidade de reativação.</p>

                    <h3>XII - DISPOSIÇÕES GERAIS</h3>
                    <p>Os interessados pelo Programa KOP CLUB poderão fazer seus respectivos cadastros por meio do site www.kopclub.com.br, aplicativo Kopenhagen ou loja física. Poderão ser realizadas ações de pontuação sazonal, promoções pontuais ou pesquisas de satisfação com os consumidores cadastrados no KOP CLUB, que poderão alterar a quantidade de pontos acumulados na compra de determinados produtos pelos Participantes. Todas essas ações serão previamente comunicadas a todos os consumidores cadastrados e a novos consumidores.</p>
                    <p>A Kopenhagen se reserva o direito de cancelar os cadastrados no Clube que não informarem seus contatos principais, como e-mail ou telefone. A Kopenhagen se reserva ao direito de a qualquer momento encerrar o programa de fidelidade KOP CLUB, mediante aviso prévio de 90 (noventa) dias, garantindo ao cliente a possibilidade de acumular novos pontos durante este período, e garantindo ainda a troca dos pontos acumulados pelos produtos participantes informados no último regulamento vigente por mais 30 (trinta) dias após decorrido esse prazo inicial, totalizando 120 (cento e vinte dias) para troca de todos os pontos adquiridos, nos termos do quanto previsto no tópico VIII do presente regulamento.</p>
                    <p>A participação dos clientes ao programa de relacionamento KOP CLUB será regulada exclusivamente por este regulamento, que pode ser substituído ou alterado a critério único e exclusivo da Kopenhagen. Os casos omissos no presente regulamento serão interpretados com base nos princípios descritos no mesmo, ou ainda, com base nas leis e princípios gerais de direito aplicáveis a cada caso.</p>

                    <h3>XIII - AVALIAÇÃO DE FRAUDES / POSSÍVEL BLOQUEIO</h3>
                    <p>A Kopenhagen possui um processo de identificação e apuração de fraudes. Dessa forma, reserva-se o direito de, eventualmente, bloquear pontos e cadastro classificados como “suspeitos” até a validação da transação, impedindo que referidos pontos sejam trocados por prêmios. Se, mesmo assim, a suspeita de fraude persistir, a Kopenhagen se reserva o direito de excluir, permanentemente, o Participante do Programa.</p>

                    <h3>XIV - SANÇÕES LEGAIS </h3>
                    <p>Em caso de confirmação de fraude, o Participante deixará, automaticamente, de fazer parte do presente programa e, além de responder civil e criminalmente por tal ação, ainda estará sujeito às condenações previstas no Código Penal Brasileiro.</p>

                    <h3>XV - ALTERAÇÕES DO REGULAMENTO</h3>
                    <p>A Kopenhagen poderá, a qualquer momento, alterar quaisquer condições estipuladas neste Regulamento, desde que os Participantes sejam previamente comunicados sobre as alterações. A Kopenhagen poderá, inclusive, alterar o critério de pontuação definido neste Regulamento, ainda que esta alteração implique a redução da pontuação dos Participantes.</p>
                    <p>A utilização contínua do KOP CLUB após a divulgação de eventuais mudanças, inclusões e / ou alterações, confirmará a aceitação destas pelo Participante. Portanto, o Participante se compromete, desde já, a rever este regulamento e demais documentos aplicáveis, de tempos em tempos, de modo a verificar as disposições aplicáveis em vigor. Se por qualquer motivo, alheio à vontade e controle do KOP CLUB, não for possível conduzir este programa de relacionamento conforme o planejado poderá ser finalizado antecipadamente, mediante aviso aos Participantes. Caso o KOP CLUB tenha seu término antecipado, serão avisados os Participantes através dos mesmos meios utilizados para sua divulgação, explicando as razões que o levaram a tal decisão e orientando quanto aos pontos já acumulados.</p>

                    <h3>XVI - FORO DE ELEIÇÃO</h3>
                    <p>Fica eleito o Foro Central da Comarca da Capital do Estado de São Paulo como o único órgão competente para dirimir toda e qualquer dúvida advinda deste Acordo, com renúncia expressa de qualquer outro, por mais privilegiado que seja ou venha a ser.</p>

                    <br/>
                    <br/>

                    <p>O Presente Regulamento é válido a partir de 02/02/2022.</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
