{% extends 'site/base.html.twig' %}
{% set area = 'points' %}

{% block title %}Meus Pontos{% endblock %}
{% block description %}Acompanhe detalhadamente seus pontos acumulados!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'site/modal/coupon.html.twig' %}

    <section class="banner-parallax no-mask light no-border points">
        <div class="shine banner-right"></div>
        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-branco-lg.jpg') }})"></div>
        <div class="banner">
            <div class="ct-caption">
                <div class="line"></div>
                <div class="caption">
                    <h4>Home / Meus Pontos</h4>
                    <h2>MEUS PONTOS</h2>
                    <p class="w500">Aqui você encontra sua pontuação e acompanha seu histórico de resgates. Aproveite os benefícios únicos de ser cliente Kopenhagen.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="resume">

        <div class="container title-line">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-lg-2">
                    <div class="title">
                        Resumo de pontos
                    </div>
                </div>
                <div class="col-md-8 col-lg-8">
                    <hr />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-lg-4">
                    <h6>Meus Pontos</h6>
                    {#TODO:Inserir carregando ícone animado#}
                    <p><strong id="kcAvailable">...</strong> pontos</p>
                </div>
                <div class="col-md-4 col-lg-3">
                    <h6>Próxima expiração:</h6>
                    <p><strong id="kcScoreNextExpiration">...</strong> pontos</p>
                </div>
                <div class="col-md-4 col-lg-3">
                    <h6>Data da expiração:</h6>
                    <p><strong id="kcDateNextExpiration">...</strong></p>
                </div>
            </div>
        </div>

    </section>

    <section class="detail">

        <div class="container title-line">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-lg-2">
                    <div class="title">
                        Extrato de pontos
                    </div>
                </div>
                <div class="col-md-8 col-lg-8">
                    <hr />
                </div>

                <div class="col-sm-10">
                    <div class="title-points">
                        Pontuação
                    </div>
                </div>
            </div>
        </div>

        <div class="container title-line">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-10">
                    <table>
                        <thead>
                        <tr>
                            <th> </th>
                            <th>Data</th>
                            <th>Loja</th>
                            <th>Descrição</th>
                            <th>VL Cupom (R$)*</th>
                            <th>Pontos</th>
                            <th>Validade</th>
                            <th>Saldo</th>
                        </tr>
                        </thead>
                        <tbody id="data-points">
                        </tbody>
                    </table>
                    <div class="txt-carregando">Carregando...</div>

                    <p style="font-size: 12px; margin-top: 30px; text-align: right;">*Este cupom contém apenas os valores dos itens pontuados</p>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_points') }}
{% endblock %}
