{% extends 'site/base.html.twig' %}
{% set area = 'vouchers' %}

{% block title %}Meus Vouchers{% endblock %}
{% block description %}Acompanhe detalhadamente seus vouchers acumulados!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'site/modal/voucher.html.twig' %}

    <section class="banner-parallax no-mask light no-border points vouchers">
        <div class="shine banner-right"></div>
        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-branco-lg.jpg') }})"></div>
        <div class="banner">
            <div class="ct-caption">
                <div class="line"></div>
                <div class="caption">
                    <h4>Home / Meus Vouchers</h4>
                    <h2>MEUS VOUCHERS</h2>
                    <p class="w500">Aqui você encontra seu histórico e vouchers disponíveis para resgate. Aproveite os benefícios únicos de ser membro Kop Club!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="resume vouchers">

        <div class="container title-line">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-lg-2">
                    <div class="title">
                        Resumo de vouchers
                    </div>
                </div>
                <div class="col-md-8 col-lg-8">
                    <hr />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-lg-4">
                    <h6>Meus Vouchers</h6>
                    {#TODO:Inserir carregando ícone animado#}
                    <p><strong id="kcVouchersAvailable">...</strong> <span id="textVoucher"></span></p>
                </div>
                <div class="col-md-4 col-lg-3">
                    <h6>Próxima expiração:</h6>
                    <p><strong id="kcVouchersDateNextExpiration">...</strong></p>
                </div>
                <div class="col-md-4 col-lg-3">
                </div>
            </div>
        </div>

    </section>

    <section class="detail vouchers">

        <div class="container title-line">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-lg-2">
                    <div class="title">
                        Extrato de vouchers
                    </div>
                </div>
                <div class="col-md-8 col-lg-8">
                    <hr />
                </div>

                <div class="col-sm-10">
                    <div class="title-points">
                        Vouchers
                    </div>
                </div>
            </div>
        </div>

        <div class="container title-line">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-10" id="ct-table">
                    <table class="table-voucher">
                        <thead>
                        <tr>
                            <th> </th>
                            <th>Data</th>
                            <th>Loja</th>
                            <th>Descrição</th>
                            <th>Dt. de ativação</th>
                            <th>Dt. de expiração</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody id="data-points">
                        </tbody>
                    </table>
                    <div class="txt-carregando">Carregando...</div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_vouchers') }}
{% endblock %}
