{% extends 'site/base-landing.html.twig' %}
{% set area = 'site_participate' %}

{% block title %}Participe{% endblock %}
{% block description %}O KOP CLUB é um universo exclusivo de pontos que se convertem em chocolates deliciosos para nossos bens mais preciosos: os clientes Kopenhagen.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {#PARTICIPATE#}
    <section id="participate">
        <div class="container-participate">
            <header>
                <img class="logo desk" src="{{ asset('build/images/participe/kopclub.png') }}" alt="KopClub">
                <img class="logo mob" src="{{ asset('build/images/participe/kopclub@2x.png') }}" alt="KopClub">
                <img class="brilho" src="{{ asset('build/images/participe/brilho.png') }}" alt="Brilho">
            </header>
            <div class="row choice">
                <div class="col-12 col-md-6">
                    <img src="{{ asset('build/images/participe/selo-100.png') }}" class="stamp left desk" alt="Ganhe até 100 pontos">
                    <img src="{{ asset('build/images/participe/selo-100@2x.png') }}" class="stamp left mob" alt="Ganhe até 100 pontos">
                    <h2>Não é<br/> membro?</h2>
                    <a href="{{path('site_register')}}" class="btn-default">Cadastre-se agora</a>
                </div>
                <div class="col-12 col-md-6">
                    <img src="{{ asset('build/images/participe/selo-50.png') }}" class="stamp right desk" alt="Ganhe até 50 pontos">
                    <img src="{{ asset('build/images/participe/selo-50@2x.png') }}" class="stamp right mob" alt="Ganhe até 50 pontos">
                    <h2>Já é <br/>membro?</h2>
                    <a href="{{path('site_login')}}" class="btn-default">Complete o cadastro</a>
                </div>
            </div>
            <p class="copy">* Apenas novos cadastros completos ganham 100 pontos.</p>
        </div>

        <div class="footer-landing">
            <a href="https://www.kopenhagen.com.br/" target="_blank" rel="noopener noreferrer noreferrerwhich">
                <img src="{{ asset('build/images/participe/logo-kopenhagem.png') }}" alt="Kopenhagem">
            </a>
        </div>

    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
