{% extends 'site/base.html.twig' %}
{% set area = 'privacy' %}

{% block title %}Conheça nossa política de privacidade{% endblock %}
{% block description %}Programa de Relacionamento da Kopenhagen - Faça parte do KOP CLUB e garanta benefícios exclusivos. Se cadastre e ganhe até 100 pontos para começar a juntar.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="banner-parallax">
        <div class="shine banner-right"></div>
        <div class="shine black banner-left"></div>
        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-regulamento.jpg') }})"></div>
        <div class="banner">
            <div class="line"></div>
            <div class="ct-caption">
                <div class="caption">
                    <h2>Política de Privacidade<br/>
                        KOP CLUB
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="box-text">
        <article class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-10">
                  <p>A Política de Privacidade do Programa de Fidelidade do KOP CLUB (“Política”), programa do Grupo CRM, foi criada para demonstrar o compromisso do KOP CLUB com a segurança e a privacidade das informações coletadas dos nossos usuários, sendo estes os titulares dos seus dados pessoais (“Usuário”, “Titular” ou simplesmente “você”).</p>

                  <p>A Política esclarece as condições gerais de coleta, uso, armazenamento e demais formas de tratamento e proteção de dados pessoais no site (<a href="/" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">www.kopclub.com.br</a>) e lojas físicas participantes do KOP CLUB, em conformidade com a legislação brasileira atualmente em vigor em matéria de privacidade e proteção de dados pessoais no Brasil, incluindo, mas não se limitando à Lei nº 12.965, de 23 de abril de 2014 e Decreto nº 8.771, de 11 de maio de 2016 (“Marco Civil da Internet”) e à Lei nº 13.709, de 14 de agosto de 2018 (“Lei Geral de Proteção de Dados” ou “LGPD”).</p>

                  <p>Para efeitos desta Política, o KOP CLUB é qualificado como Controlador, uma vez que armazena as suas informações pessoais, competindo a ela as decisões referentes ao tratamento dos seus dados pessoais que por ela forem coletados. Para manter um contato direto com você, foi designado pelo KOP CLUB um Encarregado pelo Tratamento de Dados Pessoais para administrar um canal de comunicação. Se você tiver quaisquer dúvidas relacionadas às atividades de tratamento de dados pessoais sob nossa responsabilidade ou questionamentos e comentários referentes à presente Política, por favor envie um e-mail para privacidade@grupocrm.com, aos cuidados de Gabriela Coelho Glitz (“Encarregado”).</p>

                  <p>Ao utilizar nosso site, você manifesta de maneira livre, informada, inequívoca, expressa e integral a sua concordância com esta Política.
                  <br/>
                  <u style="text-decoration: underline;">Recomendamos a sua leitura atenta</u>.</p>

                  <h3><a href="#1">1.	 ABRANGÊNCIA</a></h3>
                  <h3><a href="#2">2.	INFORMAÇÕES QUE COLETAMOS</a></h3>
                  <h3><a href="#3">3.	BASE LEGAL PARA O TRATAMENTO DE DADOS PESSOAIS</a></h3>
                  <h3><a href="#4">4.	FINALIDADE DA COLETA DE DADOS</a></h3>
                  <h3><a href="#5">5.	COMPARTILHAMENTO DE DADOS PESSOAIS</a></h3>
                  <h3><a href="#6">6.	PERSONAL SHOPPER</a></h3>
                  <h3><a href="#7">7.	DIREITO DOS TITULARES DE DADOS PESSOAIS</a></h3>
                  <h3><a href="#8">8.	COMO ARMAZENAMOS E TRATAMOS OS DADOS PESSOAIS</a></h3>
                  <h3><a href="#9">9.	TEMPO DE RETENÇÃO DAS INFORMAÇÕES</a></h3>
                  <h3><a href="#10">10.	PRAZO E ALTERAÇÕES</a></h3>
                  <h3><a href="#11">11.	 POLÍTICA DE COMUNICAÇÃO.</a></h3>
                  <h3><a href="#12">12.	CONEXÕES (LINKS) A OUTROS SITES</a></h3>

                  <span id="1"></span>
                  <br/>
                  <br/>

                  <h3>1. ABRANGÊNCIA</h3>

                  <p>A presente Política aplica-se a todos os participantes do KOP CLUB, sendo coletados os seus dados pessoais sempre que você:</p>

                  <p>•	Visitar ou interagir no site do KOP CLUB (<a href="/" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">www.kopclub.com.br</a>)</p>
                  <span id="2"></span>
                  <p>•	Entrar em contato conosco pelos nossos canais de atendimento;</p>
                  <p>•	Trocar seus pontos por benefícios conforme regulamento.</p>

                  <h3>2. INFORMAÇOES QUE COLETAMOS</h3>

                  <p>Importante: Você não é obrigado a nos conceder suas informações, entretanto, sem conceder certas informações quando estas forem solicitadas, não lhe será permitido o acesso a algumas funcionalidades. Além dos dados que você nos informa, sempre que você interagir com o nosso site, o KOP CLUB coletará informações de forma automática. Tais informações geralmente não são identificáveis, porém, quando combinadas com outros dados gerando a capacidade de se associar a você, será tratado pelo KOP CLUB como dado pessoal.</p>

                  <p>A natureza e a finalidade dos dados pessoais que coletamos diferem de acordo com a área do site acessada (por exemplo, se você é participante do nosso Programa ou simplesmente um visitante do site do KOP CLUB que está entrando em contato conosco).</p>

                  <p>Nos limites permitidos pela legislação aplicável, o KOP CLUB poderá́ tratar os seguintes dados pessoais que por você nos forem informados:</p>

                  <p><strong style="font-weight: bold;">Cadastro simples:</strong> nome completo, CPF, data de nascimento, e-mail e celular com DDD;</p>

                  <p><strong style="font-weight: bold;">Cadastro completo:</strong> nesse cadastro o Titular de dados fornecerá, além dos dados descritos no item acima, o sexo, o estado civil, endereço completo, CEP, número, complemento, bairro, cidade, estado.</p>

                  <p><strong style="font-weight: bold;">Informações da conta:</strong> nome de usuário, senhas e perfil da conta.</p>

                  <p><strong style="font-weight: bold;">Conteúdo do usuário:</strong> conteúdo de comunicações, sugestões, perguntas, comentários, feedback e outras informações que você nos envia, que nos fornece quando entra em contato;</p>

                  <p>Conforme anteriormente informado, o KOP CLUB poderá coletar automaticamente as informações listadas abaixo, mesmo que você não tenha criado ou acessado uma conta no KOP CLUB:</p>

                  <p><strong style="font-weight: bold;">Informações de geolocalização:</strong> localização precisa ou aproximada determinada a partir do seu endereço IP ou GPS do dispositivo móvel, dependendo das configurações do seu dispositivo;</p>

                  <p><strong style="font-weight: bold;">Dados de log e informação do seu dispositivo:</strong> detalhes sobre como você usou o site do KOP CLUB (quais páginas do nosso site foram visitadas, a ordem em que foram visitadas, quando foram visitadas, quais links foram clicados, bem como se você clicou em links para aplicativos de terceiros), endereço de IP ou outro identificador único (Device Identifier), datas e horários de acesso, informações de hardware e software, informações do dispositivo, informações de eventos do seu dispositivo, identificadores exclusivos, dados de falha, dados de cookies e as páginas que você visualizou ou interagiu antes e depois de usar o KOP CLUB.</p>

                  <p><strong style="font-weight: bold;">Cookies e tecnologias semelhantes:</strong> de acordo com a Política de Cookies.</p>

                  <p>Note que os dados pessoais listados acima serão coletados pelo KOP CLUB e posteriormente tratados somente conforme necessário para atingir as finalidades aqui previstas.</p>
                  <span id="3"></span>

                  <p>Não coletamos, armazenamos ou de outra forma tratamos intencionalmente dados pessoais excessivos ou desnecessários para a prestação dos nossos serviços e utilização das nossas Plataformas Digitais, dados considerados sensíveis (aqueles relativos à sua origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, saúde ou orientação sexual, bem como dado genético) e dados de menor de idade sem o consentimento do seu responsável. Em função disso, pedimos que você se abstenha de compartilhá-los conosco. Se ficarmos cientes que houve a coleta e o tratamento inadvertido destes dados, estes serão apagados dos nossos registros.</p>

                  <h3>3. BASE LEGAL PARA O TRATAMENTO DE DADOS PESSOAIS</h3>

                  <p>A classificação da base legal dos dados armazenados e processados pelo KOP CLUB listados na Seção 2 ocorre mediante análise do contexto específico em que os coletamos.</p>

                  <p>Os dados tratados pelo KOP CLUB tendem a ser coletados somente:</p>

                  <p>a)	Com o seu consentimento;</p>
                  <span id="4"></span>
                  <p>b)	Quando for necessário celebrar um contrato com você para a utilização dos serviços ofertados pelo KOP CLUB;</p>
                  <p>c) Quando o processamento dos dados pessoais está de acordo com os interesses legítimos do KOP CLUB, sempre com atenção aos seus interesses relacionados à proteção de dados ou liberdades e direitos fundamentais. Também haverá a necessidade de processamento de seus dados para proteger seus interesses ou de terceiros.</p>

                  <h3>4. FINALIDADE DA COLETA DE DADOS</h3>

                  <p>A coleta das informações tem como objetivo único e exclusivo a manutenção e o aprimoramento dos benefícios disponibilizados para oferecer uma melhor experiência para você. Desta forma, conforme necessário, as informações coletadas serão utilizadas para os seguintes propósitos:</p>

                  <p>a)	Permitir que você acesse o site do KOP CLUB, fornecendo acesso a determinadas áreas e recursos;</p>
                  <p>b)	Atender aos seus eventuais questionamentos, solicitações de informações sobre o KOP CLUB e fale conosco;</p>
                  <p>c)	Comunicar-se com você sobre a sua conta e atividades no site do KOP CLUB, bem como enviar comunicações institucionais sobre o KOP CLUB;</p>
                  <p>d)	Prestar serviço de suporte técnico quando necessário;</p>
                  <p>e)	Repassar as suas informações a parceiros de negócios e provedores de conteúdo quando legalmente autorizado e para atingir a finalidade específica;</p>
                  <p>f)	Melhorar o nosso site;</p>
                  <p>g)	Personalizar e customizar a sua experiencia no site do KOP CLUB;</p>
                  <p>h)	Desenvolver novos produtos e serviços;</p>
                  <p>i)	Repasse a autoridades governamentais quando a solicitação se der por meio de intimações, ordens judiciais ou outros processos legais para estabelecer ou exercer nossos direitos legais, proteger nossa propriedade, nos defendermos de reivindicações legais ou conforme exigido por lei;</p>
                  <p>j)	Cessar o vínculo com o Participante (por exemplo, quando o Participante solicita o cancelamento do seu cadastro);</p>
                  <span id="5"></span>
                  <p>k)	Enviar a você mensagens promocionais, marketing, prospecção, pesquisas de mercado, de opinião e promoção dos nossos produtos, ou de nossos parceiros;</p>
                  <p>l)	Investigar, impedir ou adotar medidas relacionadas a atividades ilegais, suspeita de fraude ou situações que envolvam ameaças em potencial à segurança física e tecnológica de qualquer pessoa, empresas parceiras do KOP CLUB, ou se de outra maneira exigido legalmente, nos limites permitidos pela legislação aplicável.</p>

                  <h3>5. COMPARTILHAMENTO DE DADOS PESSOAIS</h3>

                  <p>Quando necessário para atingir as finalidades descritas no item 4 acima, o KOP CLUB poderá compartilhar seus dados pessoais com terceiros listados abaixo visando  a correta prestação dos serviços ofertados, a segurança de armazenamento dos seus dados pessoais e uma melhor experiencia junto ao KOP CLUB. Sempre que efetuado, o compartilhamento de dados será realizado dentro dos limites e propósitos do nosso negócio, em conformidade com a finalidade dos dados pessoais e de acordo com o que autoriza a legislação aplicável. Dessa forma, os seus dados poderão ser compartilhados com:</p>

                  <p>•	Com outras Empresas do Grupo CRM, que se comprometem a utilizar as informações para os mesmos fins indicados na presente Política;</p>
                  <p>•	Plataformas e ferramentas de software de terceiros para fins de gestão da prestação dos serviços ofertados pelo KOP CLUB;</p>
                  <p>•	Com empresas parceiras e fornecedores, no desenvolvimento dos Serviços voltados ao Titular, inclusive com empresas responsáveis por atualizar e manter a qualidade dos dados de nossos clientes;</p>
                  <p>•	Empresas de marketing e publicidade;</p>
                  <p>•	Autoridades fiscais e órgãos governamentais, policiais, públicos e judiciais com o propósito de responder a denúncias, investigações, medidas judiciais e processos judiciais; bem como cumprir com obrigações legais, regulatórias e fiscais</p>.
                  <p>•	Com as lojas franqueadas que receberão os dados do Participante para controle de pontos e efetivação do resgate do Programa;</p>
                  <span id="6"></span>
                  <p>•	Com as lojas franqueadas para utilização do beneficio de venda via Personal Shopper, disposto no Regulamento;</p>
                  <p>•	Outros prestadores de serviço que podem ser acionados conforme necessário no caso concreto.</p>

                  <h3>6. PERSONAL SHOPPER</h3>

                  <p>O KOP CLUB também disponibilizará aos seus Participantes a opção de compra de produtos Kopenhagen via um Personal Shopper, pessoa que estará fisicamente em uma das  lojas participantes do Programa e fará vendas exclusivas e direcionadas às suas preferências.</p>

                  <p>O Personal Shopper entrará em contato com o Participante exclusivamente via WhatsApp, utilizando do contato celular disponibilizado no momento da realização do cadastro no Programa.</p>
                  <span id="7"></span>

                  <p>O Participante autoriza desde já e tem ciência que seus dados serão utilizados pelo Personal Shopper exclusivamente para contato de vendas.</p>

                  <h3>7. DIREITOS DOS TITULARES DE DADOS PESSOAIS</h3>

                  <p>Na forma e nos limites da legislação aplicável, você, na qualidade de titular de dados pessoais, poderá entrar em contato conosco para exercer seus direitos, de modo a requerer:</p>

                  <p>a)	a confirmação da existência de tratamento de seus dados pessoais;</p>
                  <p>b)	o acesso aos seus dados;</p>
                  <p>c)	a correção de seus dados incompletos, inexatos ou desatualizados;</p>
                  <p>d)	a anonimização, bloqueio ou eliminação de seus dados que sejam desnecessários, excessivos, ou tratados em desconformidade com o disposto na legislação aplicável<;/p>
                  <p>e)	a portabilidade dos seus dados a outro fornecedor de serviço ou produto, observados os segredos comercial e industrial;</p>
                  <p>f)	a eliminação dos seus dados pessoais, exceto nas hipóteses previstas na legislação aplicável, para exercícios de direitos atinentes ao KOP CLUB e para o cumprimento de exigências legais;</p>
                  <p>g)	a informação das entidades públicas e privadas com as quais o KOP CLUB compartilhou seus dados;</p>
                  <p>h)	a informação sobre a possibilidade de você não fornecer consentimento e sobre as consequências da sua negativa;</p>
                  <p>i)	a revogação do seu consentimento, quando você tiver nos fornecido, resguardado o interesse público que possa justificar a continuidade do tratamento ou a existência de outra base legal que autorize; e</p>
                  <p>j)	a oposição a qualquer tratamento de dados pessoais com fundamento em uma das hipóteses em que seu consentimento é dispensado, desde que tenha ocorrido o descumprimento ao disposto na legislação aplicável e resguardado o interesse público que possa justificar a continuidade do tratamento.</p>

                  <p>O seu requerimento poderá ser feito gratuitamente através do nosso site, disponível em <a href="/" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">www.kopclub.com.br</a>. Analisaremos seu pedido e o atenderemos com a maior brevidade possível, considerando os prazos e os termos previstos na legislação aplicável. Caso não seja possível atender imediatamente a sua requisição, indicaremos as razões de fato e de direito que nos impedem.</p>

                  <p>O KOP CLUB não se responsabiliza pela correção, veracidade, autenticidade, completude e atualização dos dados prestados pelo Titular, nem mesmo pelo eventual uso indevido de informações por ele publicadas por ou por fraudes decorrentes da violação de senhas pessoais.</p>
                  <span id="8"></span>

                  <p>É de sua exclusiva responsabilidade prestar unicamente informações corretas, verdadeiras, autênticas, completas e atualizadas, bem como zelar pelo sigilo de sua senha, quando aplicável, não divulgando-a a terceiros.</p>

                  <h3>8. COMO ARMAZENAMOS E TRATAMOS OS DADOS PESSOAIS</h3>

                  <p>O KOP CLUB mantém em ambiente controlado e de segurança os dados pessoais coletados, visando atender finalidades específicas, conforme exposto na Seção 4. Os dados pessoais coletados são mantidos em sigilo, com controle estrito de acesso, mediante mecanismos de autenticação.</p>

                  <p>O KOP CLUB adota medidas de segurança, técnicas e administrativas para manter em segurança todos os dados armazenados. Especificamente com relação aos dados coletados através do nosso site, eles são armazenados, tratados e protegidos mediante as melhores práticas de hospedagem, processamento, backup e criptografia, de acordo com a sua respectiva criticidade.</p>
                  <span id="9"></span>

                  <p>Mesmo assim, o Titular deve ter ciência que nenhum sistema de segurança na Internet é garantido contra invasões indesejadas, sendo que o compromisso do KOP CLUB se limita à adoção de medidas de proteção recomendáveis de acordo com o atual estado da técnica.</p>

                  <h3>9. TEMPO DE RETENÇÃO DAS INFORMAÇÕES</h3>

                  <p>Armazenamos e mantemos suas informações: (i) pelo tempo exigido por lei; (ii) até o término do tratamento de dados pessoais, conforme mencionado abaixo; (iii) pelo tempo necessário a preservar o legítimo interesse do KOP CLUB, conforme o caso; (iv) pelo tempo necessário para resguardar o exercício regular de direitos do KOP CLUB em processo judicial, administrativo ou arbitral. Assim, trataremos seus dados, por exemplo, durante os prazos prescricionais aplicáveis ou enquanto necessário para cumprimento de obrigação legal ou regulatória.</p>

                  <p>O término do tratamento de dados pessoais ocorrerá nos seguintes casos:</p>

                  <p>a)	Quando a finalidade pela qual os dados pessoais do Titular foram coletados for alcançada e/ou os dados pessoais coletados deixarem de ser necessários ou pertinentes ao alcance de tal finalidade;</p>
                  <p>b)	Quando o Titular estiver em seu direito de solicitar o término do tratamento e a exclusão de seus dados pessoais e o fizer; </p>e
                  <p>c)	Quando houver uma determinação legal neste sentido.</p>

                  <p>Observando o princípio da necessidade, alguns dados encaminhados por meio do nosso site podem ser excluídos dos nossos registros mediante a manutenção de registros de rotina. Não temos a obrigação de armazenar os dados pessoais por tempo indeterminado e nos isentamos de qualquer responsabilidade decorrente ou relacionada à destruição destes dados pessoais.</p>
                  <span id="10"></span>

                  <p>Havendo o término do tratamento de seus dados pessoais, ressalvadas as hipóteses estabelecidas pela legislação aplicável ou pela presente Política de Privacidade, eles serão eliminados do banco de dados do KOP CLUB. Caso não seja possível a eliminação em um primeiro momento, os dados serão armazenados com segurança e isolados de qualquer processamento posterior, até que a eliminação seja possível.</p>

                  <h3>10. PRAZO E ALTERAÇÕES</h3>

                  <p>O nosso Programa e nosso site, no todo ou em cada uma das suas abas e seções, podem ser encerrados, suspensos ou interrompidos unilateralmente pelo KOP CLUB, a qualquer momento e sem necessidade de prévio aviso, caso em que informaremos onde serão disponibilizadas as informações deles constantes, cujo acesso seja seu direito em conformidade com a legislação em vigor.</p>
                  <span id="11"></span>

                  <p>A presente Política de Privacidade poderá vir a ser atualizada ou alterada a qualquer tempo, sendo as alterações informadas com destaque em nosso site.</p>

                  <h3>11. POLÍTICA DE COMUNICAÇÃO</h3>

                  <p>Nós buscamos evitar o envio de e-mails não-solicitados, restringindo as comunicações com você a assuntos que sejam relevantes ou do seu específico interesse.</p>

                  <p>Quando você realiza seu cadastro, podemos contatá-lo através dos meios de comunicação ali informados.</p>

                  <p>Se você preferir não receber mais nossas informações referentes a ofertas especiais, informativos e eventos, você pode solicitar seu descadastramento através do link de cancelamento de inscrição contido no próprio e-mail ou na mensagem recebida, ou desmarcar a opção que autoriza o envio de e-mails e mensagens promocionais (opt out) presente na sua página de cadastro.</p>
                  <span id="12"></span>

                  <p>Você deve ter ciência de que diversos fraudadores tentam se valer de marcas de produtos com tradição para obter informações pessoais como senhas e dados financeiros. O KOP CLUB NUNCA IRÁ SOLICITAR SUA SENHA E/OU DADOS FINANCEIROS ATRAVÉS DE E-MAIL OU CONTATO TELEFÔNICO. NO CASO DE QUALQUER OUTRA ATITUDE SUSPEITA, ENCAMINHE SUA DÚVIDA OU ALERTA POR E-MAIL PARA <a href="mailto:privacidade@grupocrm.com.br" target="_blank" rel="noopener noreferrer noreferrerwhich" style="text-decoration: underline;">privacidade@grupocrm.com.br</a>.</p>

                  <h3>12. CONEXÕES (LINKS) A OUTROS SITES</h3>

                  <p>Nosso site pode conter links ou frames de outros sites. Esses links ou frames buscam proporcionar benefícios adicionais aos conteúdos e serviços oferecidos ao Titular.</p>

                  <p>Esclarecemos que a inclusão desses links em nosso site não significa que o KOP CLUB tenha conhecimento, concorde ou seja responsável pelo conteúdo de referidos links e frames. É importante ressaltar que nosso objetivo é o de somente disponibilizar links ou frames de empresas idôneas e confiáveis, não sendo o KOP CLUB responsável pelas informações, produtos e serviços obtidos pelo Titular nos referidos sites, nem tampouco pelas práticas comerciais e políticas de privacidade adotadas por essas empresas, não podendo o KOP CLUB ser responsabilizado por eventuais perdas e danos ou lucros cessantes sofridos em razão da utilização desses recursos.</p>

                  <p>Na medida em que os sites vinculados não fazem parte do Site do KOP CLUB, nós não controlamos, recomendamos ou endossamos esses sites e seus conteúdos, produtos, serviços, políticas e suas práticas de privacidade; não temos acesso aos seus dados pessoais coletados e tratados por eles e às suas políticas de publicidade, cookies e termos de uso. Dessa forma, recomendamos a sua leitura atenta a estes documentos de sites terceiros.</p>

                  <p>Ao utilizar os nossos serviços, você concorda e aceita os termos aqui dispostos.</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
