{% extends 'site/base.html.twig' %}
{% set area = 'promotion' %}

{% block title %}Promoções{% endblock %}
{% block description %}O KOP CLUB é um universo exclusivo de pontos que se convertem em chocolates deliciosos para nossos bens mais preciosos: os clientes Kopenhagen.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="banner-default no-mask">
        <div class="shine banner-right"></div>
        <div class="shine black banner-left"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for banner in promotion.banners %}
                    <div class="swiper-slide">
                        <a href="{{ banner.url ?? '#' }}">
                            <div class="img-desktop" style="background-image: url({{ asset(image_upload_path ~ banner.image) }});"></div>
                            <div class="img-mobile"><img src="{{ asset(image_upload_path ~ banner.imageMobile) }}" alt=""></div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            {% if promotion.banners|length > 1 %}
                <div class="swiper-pagination"></div>
            {% endif %}
        </div>
    </section>
    <section class="box-text">
        <article class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-lg-10">
                    <h1>{{ promotion.title }}</h1>

                    {{ promotion.regulation|raw }}</p>

                    <a class="btn-default border btn-register" href="#">Cadastre-se</a>
                </div>
            </div>
        </article>
    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_promotion') }}
{% endblock %}
