{% extends 'site/base.html.twig' %}
{% set area = 'register_page' %}

{% block title %}Cadastre-se e garanta benefícios exclusivos{% endblock %}
{% block description %}Faça parte do KOP CLUB, o programa de relacionamento da Kopenhagen e garanta benefícios exclusivos. Se cadastre e ganhe até 100 pontos para começar a juntar.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="register-page">

        <div class="shine banner-right"></div>
        <div class="shine banner-left"></div>

        <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                <div class="container-register">
                  <div class="left-panel">
                      <div class="bg-box" style="background-image: url({{ asset('build/images/bg-cadastrese.jpg') }})"></div>
                      <div class="text">
                          <p class="sm">Faça seu cadastro</p>
                          <p class="md">e ganhe</p>
                          <p class="lg">50</p>
                          <p class="md">Pontos</p>
                      </div>
                  </div>
                  <div class="right-panel">
                    <header class="header">
                        <h2 class="title">
                            Cadastre-se no <span>Kop Club</span>
                        </h2>
                    </header>
                    <div class="content">
                        <p class="description">Entre para o Clube de Vantagens <small>Kopenhagen e aproveite</small> benefícios exclusivos, bônus e muito mais.</p>
                        <form class="form-default" id="form-registration" method="post" action="#">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 field">
                                        <input name="name_register" type="text" placeholder="Nome Completo *">
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-12 field">
                                        <input name="cpf_register" type="tel" placeholder="CPF *">
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-12 field">
                                        <input name="birthDate_register" type="tel" placeholder="Data de Nascimento *">
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-12 field">
                                        <input name="email_register" type="text" placeholder="E-mail *">
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-12 field">
                                        <input name="telephone_register" type="tel" placeholder="Celular com DDD *" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}">
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-6 field">
                                        <input id="password_register" name="password_register" type="password" placeholder="Senha *">
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-6 field">
                                        <input name="passwordconfirm_register" type="password" placeholder="Confirme sua Senha *">
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-12">
                                        <p style="margin-left: -15px; margin-bottom: 20px;">Quero receber promoções, benefícios e outros avisos do Kop Club:</p>
                                    </div>
                                    <div class="col-4 col-sm-4 field">
                                        <input id="receive_Email_register" name="receive_Email_register" type="checkbox" class="styled-checkbox"/>
                                        <label for="receive_Email_register" style="white-space: nowrap;">Via e-mail.</label>
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-4 col-sm-4 field">
                                        <input id="receive_Sms_register" name="receive_Sms_register" type="checkbox" class="styled-checkbox"/>
                                        <label for="receive_Sms_register" style="white-space: nowrap;">Via SMS.</label>
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-4 col-sm-4 field">
                                        <input id="receive_AppMSG_register" name="receive_AppMSG_register" type="checkbox" class="styled-checkbox"/>
                                        <label for="receive_AppMSG_register" style="white-space: nowrap;">Via WhatsApp.</label>
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-12 field">
                                        <input id="agreedTermsConditions_register" name="agreedTermsConditions_register" type="checkbox" class="styled-checkbox"/>
                                        <label for="agreedTermsConditions_register">Li e estou de acordo com o <a target="_blank" rel="noopener noreferrer noreferrerwhich" href="{{ path('site_legal') }}">Regulamento</a></label>
                                        <div class="error"></div>
                                    </div>
                                    <div class="col-sm-12 btns center">
                                        <input type="submit" id="btn-submit-register" class="btn-default border" value="Fazer Parte!" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
