<div class="dashboard">
    <p class="curr">Resumo da conta:</p>
    <div class="resume-dashboard">
        <div class="line type3"></div>
        <div class="number" id="kcAvailable"></div>
        <div class="text">pontos</div>
    </div>
    <p class="next">
        <strong>Próxima expiração:</strong>
        <span id="kcScoreNextExpiration"></span> pontos
    </p>
    <p class="exp">
        <strong>Data de expiração:</strong>
        <span id="kcDateNextExpiration"></span>
    </p>
    <p class="vouchers">
        <strong>Vouchers disponíveis:</strong>
        <span id="kcVouchersDisponiveis">---</span>
    </p>
{#    <p class="voucher-exp">#}
{#        <strong>Vouchers expiram em:</strong>#}
{#        <span id="kcVouchersDateNextExpiration">10</span>#}
{#    </p>#}
    <p class="incomplete">
        <strong>Cadastro incompleto:</strong>
        <a href="#" class="btn-complete-registration">Clique aqui</a> para completar o cadastro e <span>ganhe mais 50 pontos</span>.
    </p>
    <footer>
        <a href="{{path('site_points')}}" class="btn-default border">Meus Pontos</a>
        <a href="{{path('site_vouchers')}}" class="btn-default border">Meus Vouchers</a>
    </footer>
</div>
