<footer id="kc-footer">
    <div class="container main">
        <div class="row justify-content-center justify-content-md-center">
            <div class="col-10 col-md-4 col-lg-3">
                <a href="https://www.kopenhagen.com.br/" target="_blank" rel="noopener noreferrer noreferrerwhich">
                    <img src="{{ asset('build/images/logo-kopenhagen.png') }}" alt="Kopenhagen">
                </a>
            </div>
            <div class="col-5 col-md-2 col-lg-2 main-menu">
                <h3>Menu</h3>
                {% include 'site/modules/menu.html.twig' with { 'area': area } %}
            </div>
            <div class="col-5 col-md-2 col-lg-2">
                {% include 'site/modules/social.html.twig' %}
            </div>
            <div class="col-12 col-md-4 col-lg-3 social">
                <h3>Kopenhagen nas redes sociais</h3>
                {% include 'site/modules/social.html.twig' %}
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-6 col-lg-5">
                    <p>© 2019 Todos os direitos reservados. Produtos do site estão sujeitos à disponibilidade no ato da compra.</p>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <p class="condicoes">As imagens dos produtos são meramente ilustrativas.<br/>
                        Todos os preços e condições estão sujeitos à alteração sem aviso prévio.<br/>
                        A inclusão do produto no carrinho de compras também não implica reserva pelo consumidor,<br/>
                        estando a confirmação da compra sujeita à disponibilidade de estoque.<br/>
                        A realização da venda está sujeita à análise e confirmação de dados do consumidor.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
