<header id="kc-header" class="{{ area }}">
    <div class="bg-open"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-9 col-sm-8 col-md-5 col-lg-3 menu-logo">
                <button id="btn-menu"></button>
                <h1>
                    <a href="{{ path('site_home') }}">Kop Club</a>
                </h1>
            </div>
            <div class="col-3 col-sm-4 col-md-7 col-lg-7 navigation">
                <button id="btn-close-menu" class="btn-close">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </button>
                {% if area is not same as 'callback_page' %}
                <nav class="public">
                    <ul>
                        <li><a class="btn-default" href="{{ authenticator_url }}/?client_id={{ authenticator_client_id }}&state=login&response_type=code&redirect_uri={{ absolute_url(path('site_callback'))|url_encode }}" target="_self">Login</a></li>
                        <li><a class="btn-default border btn-register" href="{{ authenticator_url }}/?client_id={{ authenticator_client_id }}&state=login&response_type=code&redirect_uri={{ absolute_url(path('site_callback'))|url_encode }}">Cadastre-se</a></li>
                    </ul>
                </nav>
                {% endif %}
                <nav class="logged">
                    <ul>
                        <li>
                            <a id="btn-change-password" href="{{ authenticator_url }}/trocar-senha?client_id={{ authenticator_client_id }}&state=password&response_type=code&redirect_uri={{ absolute_url(path('site_callback'))|url_encode }}" class="btn-default btn-change-password">Alterar Senha</a>
                        </li>
                        <li class="my-points">
                            <a id="btn-resume" href="{{ path('site_points') }}" class="btn-default {% if area == 'points' %}active{% endif %}">Meus Pontos</a>
                        </li>
                        <li class="my-vouchers">
                            <a id="btn-resume" href="{{ path('site_vouchers') }}" class="btn-default {% if area == 'vouchers' %}active{% endif %}">Meus Vouchers</a>
                        </li>
                        <li class="user-profile">
                            <img src="{{ asset('build/images/icones/perfil.svg') }}" width="45" height="45" alt="Perfil">
                            <div class="text">
                                <p><span id="gender-welcome">Bem vindo (a)</span>, <span id="kcName"></span></p>
                                <a id="btn-complete-registration" href="#">editar meu perfil</a>
                            </div>
                        </li>
                        <li>
                            <a class="btn-logout btn-default" href="#">Sair</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="ct-notification">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 notification error">
                <button id="btn-close-notification" class="btn-close">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </button>
                <p>E-mail não validado, <a href="#">clique aqui</a> para reenviar o e-mail de confirmação.</p>
            </div>
        </div>
    </div>
</div>

<nav id="kc-menu">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 ct-menu">
                {% include 'site/modules/menu.html.twig' with { 'area': area } %}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-10 social">
                <h3>Kopenhagen nas redes sociais</h3>
                {% include 'site/modules/social.html.twig' %}
            </div>
        </div>
    </div>
</nav>

{#MODALS#}
{% include 'site/modal/invite-complete-registration.html.twig' %}
{% include 'site/modal/change-password.html.twig' %}
{% include 'site/modal/unsubscribe.html.twig' %}
{% include 'site/modal/first-access.html.twig' %}
{% include 'site/modal/lgpd.html.twig' %}
{% include 'site/modal/forgot-password.html.twig' %}
{% include 'site/modal/forgot-password-success.html.twig' %}
{% include 'site/modal/complete-registration.html.twig' %}
{% include 'site/modal/unsubscribe.html.twig' %}
{% include 'site/modal/video.html.twig' %}
