<div class="box-tooltip login" id="tooltip-login">
    <button class="btn-close gray">
        <span class="line1"></span>
        <span class="line2"></span>
    </button>
    <h4>Acessar o<br/>
        <span>Kop Club</span></h4>
    <p>Insira o CPF cadastrado para acessar sua conta do <strong>Kop Club</strong>.</p>
    <form class="form-default" id="form-login" method="post" action="">
        <div class="field">
            <input name="cpf_login" type="tel" placeholder="CPF *">
            <div class="error"></div>
        </div>
        <div class="field">
            <input name="password_login" autocomplete="current-password" type="password" placeholder="Senha">
            <div class="error"></div>
        </div>
        <div class="btns left">
            <a href="#" class="btn-first-access">Primeiro acesso</a> / <a href="#" class="btn-forgot-password">Esqueci a senha</a>
        </div>
        <div class="btns center">
            <input type="submit" class="btn-default border" id="btn-submit-login" value="Acessar" />
        </div>
    </form>
</div>
<img src="{{ asset('build/images/loading.gif') }}" alt="Loading" style="position:absolute; left: -2000px;">
