<ul>
    <li><a {% if area == 'home' %} class="active" {% endif %} href="{{ path('site_home') }}">Home</a></li>
    <li><a {% if area == 'about' %} class="active" {% endif %} href="{{ path('site_about') }}">Sobre o Kop Club</a></li>
    <li><a {% if area == 'how-to' %} class="active" {% endif %} href="{{ path('site_howto') }}">Como Participar</a></li>
    <li class="public-option"><a class="btn-register" href="{{ authenticator_url }}/?client_id={{ authenticator_client_id }}&state=login&response_type=code&redirect_uri={{ absolute_url(path('site_callback'))|url_encode }}">Cadastre-se</a></li>
    <li><a {% if area == 'contact' %} class="active" {% endif %} href="{{ path('site_contact') }}">Fale Conosco</a></li>
    <li><a {% if area == 'legal' %} class="active" {% endif %} href="{{ path('site_legal') }}">Regulamento</a></li>
    <li><a {% if area == 'cookies' %} class="active" {% endif %} href="{{ path('site_cookie') }}">Política de Cookies</a></li>
    <li><a {% if area == 'privacy' %} class="active" {% endif %} href="{{ path('site_privacy') }}">Política de Privacidade</a></li>
    <li class="logged-option"><a href="{{ path('site_points') }}">Meus Pontos</a></li>
    <li class="logged-option"><a href="{{ path('site_vouchers') }}">Meus Vouchers</a></li>
    <li class="logged-option"><a class="btn-my-profile" href="#">Meu Perfil</a></li>
</ul>
