{% if promotion_helper_service.getActive() %}
  <h3>Promoções</h3>
  <ul>
      {% for promotion in promotion_helper_service.getActive() %}
          <li class="promo"><a {% if area == 'promotion' %} class="active" {% endif %} href="/{{ promotion.slug}}">{{ promotion.title }}</a></li>
      {% endfor %}
  </ul>
{% endif %}
