<ul class="social-menu">
    <li>
        <a href="https://www.facebook.com/ChocolatesKopenhagen" target="_blank" rel="noopener noreferrer noreferrerwhich">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 430.1 430.1">
                <path d="M158.1 83.3v59.2h-43.4v72.4h43.4v215.2h89.1V214.9H307s5.6-34.7 8.3-72.7h-67.8V92.7c0-7.4 9.7-17.4 19.3-17.4h48.6V-.1h-66c-93.5.1-91.3 72.6-91.3 83.4z" fill="#b3b3b3"/>
            </svg>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/kopenhagen_/" target="_blank" rel="noopener noreferrer noreferrerwhich">
            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <style>.st0{fill:#b3b3b3}</style>
                <path class="st0" d="M352 0H160C71.6 0 0 71.6 0 160v192c0 88.4 71.6 160 160 160h192c88.4 0 160-71.6 160-160V160C512 71.6 440.4 0 352 0zm112 352c0 61.8-50.2 112-112 112H160c-61.8 0-112-50.2-112-112V160C48 98.2 98.2 48 160 48h192c61.8 0 112 50.2 112 112v192z"/>
                <path class="st0" d="M256 128c-70.7 0-128 57.3-128 128s57.3 128 128 128 128-57.3 128-128-57.3-128-128-128zm0 208c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/>
                <circle class="st0" cx="393.6" cy="118.4" r="17.1"/>
            </svg>
        </a>
    </li>
{#    <li>#}
{#        <a href="https://twitter.com/Kopenhagen_" target="_blank" rel="noopener noreferrer noreferrerwhich">#}
{#            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">#}
{#                <path d="M512 97.2c-19 8.4-39.3 13.9-60.5 16.6 21.8-13 38.4-33.4 46.2-58-20.3 12.1-42.7 20.6-66.6 25.4C411.9 60.7 384.4 48 354.5 48c-58.1 0-104.9 47.2-104.9 105 0 8.3.7 16.3 2.4 23.9-87.3-4.3-164.5-46.1-216.4-109.8-9.1 15.7-14.4 33.7-14.4 53.1 0 36.4 18.7 68.6 46.6 87.2-16.9-.3-33.4-5.2-47.4-12.9v1.2c0 51 36.4 93.4 84.1 103.1-8.5 2.3-17.9 3.5-27.5 3.5-6.7 0-13.5-.4-19.9-1.8 13.6 41.6 52.2 72.1 98.1 73.1-35.7 27.9-81.1 44.8-130.1 44.8-8.6 0-16.9-.4-25.1-1.4 46.5 30 101.6 47.1 161 47.1 193.2 0 298.8-160 298.8-298.7 0-4.6-.2-9.1-.4-13.6 20.8-14.8 38.3-33.3 52.6-54.6z" fill="#b3b3b3"/>#}
{#            </svg>#}
{#        </a>#}
{#    </li>#}
</ul>
