<div class="modal" id="modal-change-password">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Trocar <span>Senha</span>
                </h2>
            </header>
            <div class="content">
                <form class="form-default" id="form-change-password" method="post" action="#">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 field">
                                <input hidden type="text" autocomplete="username">
                                <input name="password_change" autocomplete="new-password" id="password_change" type="password" placeholder="Digite a nova senha *">
                                <div class="error"></div>
                            </div>
                            <div class="col-sm-6 field">
                                <input name="passwordconfirm_change" autocomplete="new-password" type="password" placeholder="Confirme a nova senha *">
                                <div class="error"></div>
                            </div>
                            <div class="col-sm-12 btns center">
                                <input type="submit" id="btn-submit-change-password" class="btn-default border" value="Alterar" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
