<div class="modal register full" id="modal-complete-registration">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray">
                <span class="line1"></span>
                <span class="line2"></span>
            </button>

            <div class="container">
                <div class="row justify-content-md-center">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                    <div class="container-register">
                      <div class="left-panel">
                          <div class="bg-box" style="background-image: url({{ asset('build/images/bg-cadastro-completo.jpg') }})"></div>
                      </div>
                      <div class="right-panel">
                        <header class="header">
                            <h2 class="title">
                                Meu Cadastro
                            </h2>
                        </header>
                        <div class="content">
                            <p class="description">Complete ou atualize seu cadastro e continue recebendo novidades e promoções especiais em primeira mão.</p>
                            <form class="form-default js-readonly activate" id="form-registration-complete" method="post" action="#">
                                <input name="id_complete_registration" type="hidden">

                                <div class="container">
                                    <div class="row">
                                      <div class="col-sm-12 field">
                                          <input name="name_complete_registration" type="text" placeholder="Nome Completo *">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-12 field">
                                          <input name="cpf_complete_registration" readonly="readonly" class="dont-write" style="background: #dcdcdc!important;" type="tel" placeholder="CPF *">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-12 field">
                                        <input name="birthDate_complete_registration" type="tel" placeholder="Data de Nascimento *">
                                        <div class="error"></div>
                                      </div>
                                      <div class="col-sm-12 field">
                                          <input name="email_complete_registration" type="email" placeholder="E-mail *">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-12 field">
                                          <input name="telephone_complete_registration" type="tel" placeholder="Celular com DDD *" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-6 field">
                                          <select name="sex_complete_registration">
                                              <option value="">Sexo *</option>
                                              <option value="F">Feminino</option>
                                              <option value="M">Masculino</option>
                                              <option value="O">Não quero informar</option>
                                          </select>
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-6 field">
                                          <select name="maritalStatus_complete_registration">
                                              <option value="">Estado Civil *</option>
                                              <option value="Casado">Casado (a)</option>
                                              <option value="Divorciado">Divorciado (a)</option>
                                              <option value="Solteiro">Solteiro (a)</option>
                                              <option value="Viúvo">Viúvo (a)</option>
                                          </select>
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-12 field">
                                          <div class="row">
                                            <div class="col-sm-6 field">
                                              <input name="zipCode_complete_registration" type="tel" placeholder="CEP *">
                                              <div class="error"></div>
                                            </div>

                                            <div class="col-sm-6 field">
                                              <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" rel="noopener noreferrer noreferrerwhich" class="lnk-inline">Não sei meu CEP</a>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-12 field">
                                          <input class="readonly" name="address_complete_registration" type="text" placeholder="Endereço *" readonly="readonly" tabindex="-1" aria-disabled="true">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-6 field">
                                          <input name="addressNumber_complete_registration" type="tel" placeholder="Número *">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-6 field">
                                          <input name="addressComplement_complete_registration" type="text" placeholder="Complemento">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-12 field">
                                          <input class="readonly" name="neighborhood_complete_registration" type="text" placeholder="Bairro *" readonly="readonly" tabindex="-1" aria-disabled="true">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-6 field">
                                          <input class="readonly" name="city_complete_registration" type="text" placeholder="Cidade *" readonly="readonly" tabindex="-1" aria-disabled="true">
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-6 field">
                                          <select class="readonly" name="state_complete_registration" readonly="readonly" tabindex="-1" aria-disabled="true">
                                              <option value="">Estado *</option>
                                              <option value="AC">Acre</option>
                                              <option value="AL">Alagoas</option>
                                              <option value="AP">Amapá</option>
                                              <option value="AM">Amazonas</option>
                                              <option value="BA">Bahia</option>
                                              <option value="CE">Ceará</option>
                                              <option value="DF">Distrito Federal</option>
                                              <option value="ES">Espírito Santo</option>
                                              <option value="GO">Goiás</option>
                                              <option value="MA">Maranhão</option>
                                              <option value="MT">Mato Grosso</option>
                                              <option value="MS">Mato Grosso do Sul</option>
                                              <option value="MG">Minas Gerais</option>
                                              <option value="PA">Pará</option>
                                              <option value="PB">Paraíba</option>
                                              <option value="PR">Paraná</option>
                                              <option value="PE">Pernambuco</option>
                                              <option value="PI">Piauí</option>
                                              <option value="RJ">Rio de Janeiro</option>
                                              <option value="RN">Rio Grande do Norte</option>
                                              <option value="RS">Rio Grande do Sul</option>
                                              <option value="RO">Rondônia</option>
                                              <option value="RR">Roraima</option>
                                              <option value="SC">Santa Catarina</option>
                                              <option value="SP">São Paulo</option>
                                              <option value="SE">Sergipe</option>
                                              <option value="TO">Tocantins</option>
                                          </select>
                                          <div class="error"></div>
                                      </div>
                                      <div class="col-sm-12 field">
                                        <div class="js-trigger-incorrect-address incorrect-address lnk-inline center">Meu endereço está incorreto</div>
                                      </div>
                                    </div>
                                </div>

                                <div class="container info">
                                    <div class="row justify-content-md-center">
                                        <div class="col-sm-12">
                                            <p>Quero receber promoções, benefícios e outros avisos do Kop Club:</p>
                                        </div>
                                        <div class="col-sm-4 field">
                                            <input id="receive_Email_complete_registration" name="receive_Email_complete_registration" type="checkbox" class="styled-checkbox"/>
                                            <label for="receive_Email_complete_registration" style="white-space: nowrap;">Via e-mail.</label>
                                            <div class="error"></div>
                                        </div>
                                        <div class="col-sm-4 field">
                                            <input id="receive_Sms_complete_registration" name="receive_Sms_complete_registration" type="checkbox" class="styled-checkbox"/>
                                            <label for="receive_Sms_complete_registration" style="white-space: nowrap;">Via SMS.</label>
                                            <div class="error"></div>
                                        </div>
                                        <div class="col-sm-4 field">
                                            <input id="receive_AppMSG_complete_registration" name="receive_AppMSG_complete_registration" type="checkbox" class="styled-checkbox"/>
                                            <label for="receive_AppMSG_complete_registration" style="white-space: nowrap;">Via WhatsApp.</label>
                                            <div class="error"></div>
                                        </div>
                                        <div class="col-sm-12">
                                            <p><strong>(*)  Campos de preenchimento obrigatório</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="container info2">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>Os dados fornecidos pelo consumidor por meio do preenchimento do formulário acima serão utilizados somente pela empresa Kopenhagen e seus parceiros autorizados com a finalidade específica de elaboração de estratégias de negócios e de campanhas de marketing e promoções.</p>
                                        </div>
                                        <div class="col-sm-12 field">
                                            <input id="veracity_complete_registration" name="veracity_complete_registration" type="checkbox" class="styled-checkbox"/>
                                            <label for="veracity_complete_registration">Declaro a veracidade das informações fornecidas neste formulário, autorizando a verificação das mesmas. *</label>
                                            <div class="error"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 btns between">
                                            <input type="submit" class="btn-default border" id="btn-submit-complete-registration" value="Salvar" />
                                            <button id="btn-cancel-complete-registration" class="btn-default border">Cancelar</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#" id="btn-unsubscribe">Excluir cadastro</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
