<div class="modal" id="modal-contact-success">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Fale Conosco
                </h2>
            </header>
            <div class="content">
                <p>Sua solicitação foi enviada com sucesso! Em breve entraremos em contato. Obrigado!</p>
                <div class="btns center">
                    <button class="btn-default border js-closethis">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
