<div class="modal coupon" id="modal-coupon">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Detalhamento do Cupom
                </h2>
            </header>
            <div class="content">

                <header class="store" id="store-name">

                </header>

                <div class="table">
                    <header>
                        <div class="name">Produto</div>
                        <div class="amount">Qdade</div>
                        <div class="unit">VL Unit <span>(R$)</span></div>
                        <div class="total">VL Total <span>(R$)</span></div>
                    </header>
                    <div class="content" id="content-coupon">

                    </div>
                </div>

                <div class="btns center">
                    <button class="btn-default border js-closethis">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
