<div class="modal first-access" id="modal-first-access">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Primeiro <span>acesso</span>
                </h2>
            </header>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 title">
                            <p>Acesse o site utilizando o seu número de CPF como login e senha conforme cadastro realizado na loja.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
