<div class="modal forgot-password success" id="modal-forgot-password-success">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Solicitação de Nova Senha
                </h2>
            </header>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="email-verify">
                                Uma nova senha foi enviada para: <span id="email-forgot"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="email-changed">Seu e-mail mudou? <a href="#" class="btn-email-changed">Clique aqui</a>.</p>
                        <p class="info">
                            Para alteração de dados cadastrais obrigatórios do programa Kop Club, por favor entre em contato com nosso SAC
                            pelo telefone <a href="tel:08007717799">0800 771 7799</a> ou <a href="{{ path('site_contact') }}">clique aqui</a> e registre agora mesmo sua solicitação.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
