<div class="modal forgot-password" id="modal-forgot-password">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Confirme seu <span>CPF</span>
                </h2>
            </header>
            <div class="content">
                <form class="form-default" id="form-forgot-password" method="post" action="#">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 title">
                                <p>Valide seu <strong>CPF</strong> para receber uma nova senha no e-mail cadastrado.</p>
                            </div>
                        </div>
                        <div class="row fields">
                            <div class="col-sm-12 field">
                                <input name="cpf_forgot" type="tel" placeholder="CPF *">
                                <div class="error"></div>
                            </div>
                            <div class="col-sm-12 btns center">
                                <input type="submit" id="btn-submit-forgot-password" class="btn-default border" value="Enviar" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
