<div class="modal" id="modal-invite-complete-registration">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Completar Cadastro
                </h2>
            </header>
            <div class="content">
                <p>Prezado membro Kop Club,</p>
                <p>Complete agora seu cadastro e <strong>ganhe 50 pontos!</strong></p>
                <div class="btns between">
                    <a href="#" class="btn-default border js-closethis">Ver depois</a>
                    <a href="#" class="btn-default border btn-complete-registration">Completar agora</a>
                </div>
            </div>
        </div>
    </div>
</div>
