<div class="modal lgpd" id="modal-lgpd">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    <img src="{{ asset('build/images/logo-kopclub-preto.png') }}" alt="Kopclub" />
                </h2>
            </header>
            <div class="content">
                <form class="form-default" id="form-lgpd" method="post" action="#">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 title">
                                <p>Olá, <span id="kcLgpdName"></span>. Quero receber promoções, benefícios e outros avisos do Kop Club:</p>
                            </div>
                        </div>
                        <div class="row justify-content-md-center selects">
                            <div class="col-4 col-sm-4 field">
                                <input id="receive_Email_lgpd" name="receive_Email_lgpd" type="checkbox" class="styled-checkbox"/>
                                <label for="receive_Email_lgpd" style="white-space: nowrap;">Via e-mail.</label>
                                <div class="error"></div>
                            </div>
                            <div class="col-4 col-sm-4 field">
                                <input id="receive_Sms_lgpd" name="receive_Sms_lgpd" type="checkbox" class="styled-checkbox"/>
                                <label for="receive_Sms_lgpd" style="white-space: nowrap;">Via SMS.</label>
                                <div class="error"></div>
                            </div>
                            <div class="col-4 col-sm-4 field">
                                <input id="receive_AppMSG_lgpd" name="receive_AppMSG_lgpd" type="checkbox" class="styled-checkbox"/>
                                <label for="receive_AppMSG_lgpd" style="white-space: nowrap;">Via WhatsApp.</label>
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4 field">
                                <input id="receive_all" name="receive_all" type="checkbox" class="styled-checkbox"/>
                                <label for="receive_all" style="white-space: nowrap;">Quero receber por todos canais acima</label>
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="row fields">
                            <div class="col-sm-12 btns center">
                                <input type="submit" id="btn-submit-form-lgpd" class="btn-default border" value="Enviar" />
                            </div>
                            <div class="col-sm-12 more-info">
                                <p>Para mais informações, acesse nossa <a href="/politicas-de-privacidade" target="_blank" rel="noopener noreferrer noreferrerwhich" rel="noreferrer noopener">Política de Privacidade</a> e <a
                                        href="/politicas-de-cookies" target="_blank" rel="noopener noreferrer noreferrerwhich" rel="noreferrer noopener">Política de Cookies</a></p>
                                <p><a id="btn-no-lgpd" href="#">Não quero mais receber este aviso</a></p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
