<div class="modal register" id="modal-register">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray">
                <span class="line1"></span>
                <span class="line2"></span>
            </button>
            <div class="left-panel">
                <img src="{{ asset('build/images/bg-cadastrese.jpg') }}" alt="Cadastre-se" />
                <div class="text">
                    <p class="sm">Faça seu cadastro</p>
                    <p>e ganhe</p>
                    <p class="lg">50</p>
                    <p>Pontos</p>
                </div>
            </div>
            <div class="right-panel">
                <header class="header">
                    <h2 class="title">
                        Cadastre-se <br/>
                        no <span>KopClub</span>
                    </h2>
                </header>
                <div class="content">
                    <p>Entre para o Clube de Vantagens<br/>
                        Kopenhagen e aproveite benefícios<br/>
                        exclusivos, bônus e muito mais.</p>
                    <form class="form-default" id="form-registration" method="post" action="#">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 field">
                                    <input name="name_register" type="text" placeholder="Nome Completo *">
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-12 field">
                                    <input name="cpf_register" type="tel" placeholder="CPF *">
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-12 field">
                                    <input name="birthDate_register" type="tel" placeholder="Data de Nascimento *">
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-12 field">
                                    <input name="email_register" type="text" placeholder="E-mail *">
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-12 field">
                                    <input name="telephone_register" type="tel" placeholder="Celular com DDD *" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}">
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-6 field">
                                    <input id="password_register" name="password_register" type="password" placeholder="Senha *">
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-6 field">
                                    <input name="passwordconfirm_register" type="password" placeholder="Confirme sua Senha *">
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-12 field">
                                    <input id="agreedTermsConditions_register" name="agreedTermsConditions_register" type="checkbox" class="styled-checkbox"/>
                                    <label for="agreedTermsConditions_register">Li e estou de acordo com o <a target="_blank" rel="noopener noreferrer noreferrerwhich" href="{{ path('site_legal') }}">Regulamento</a></label>
                                    <div class="error"></div>
                                </div>
                                <div class="col-sm-12 btns center">
                                    <input type="submit" id="btn-submit-register" class="btn-default border" value="Fazer Parte!" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
