<div class="modal" id="modal-unsubscribe">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h2 class="title">
                    Cancelar Cadastro
                </h2>
            </header>
            <div class="content">
                <p>Prezado membro Kop Club,</p>
                <p>Tem certeza que deseja se <strong class="danger">descadastrar</strong> do programa?</p>
                <div class="btns between">
                    <a href="#" class="btn-default border js-closethis">Cancelar</a>
                    <a href="#" id="btn-submit-unsubscribe" class="btn-default border">Sair do programa</a>
                </div>
            </div>
            <footer>
                <p><strong class="danger">Ao clicar em "Sair do programa" todos seus dados serão excluídos, incluindo seus pontos.</strong></p>
            </footer>
        </div>
    </div>
</div>
