<div class="modal voucher" id="modal-voucher">
    <div class="overlay" tabindex="-1">
        <div class="container-modal">
            <button class="btn-close gray"><span class="line1"></span><span class="line2"></span></button>
            <header class="header">
                <h1>
                    <img src="{{ asset('build/images/logo-kopclub.svg') }}" alt="Contato">
                </h1>
                <h2 class="title">
                    Detalhamento do Voucher
                </h2>
            </header>
            <div class="content">
                <header class="store" id="store-name">

                </header>

                <div class="table">
                    <header>
                        <div class="description">Descrição</div>
                        <div class="mobile" id="voucher-description-mob"></div>
                        <div class="start-date">Dt. Ativação</div>
                        <div class="mobile start-date-mobile" id="voucher-start-date-mob"></div>
                        <div class="expiration-date">Dt. Validade</div>
                        <div class="mobile" id="voucher-expiration-date-mob"></div>
                        <div class="code">Código</div>
                        <div class="mobile" id="voucher-code-mob"></div>
                    </header>
                    <div class="content">
                        <div class="product">
                            <div id="voucher-description" class="description"></div>
                            <div id="voucher-start-date" class="start-date"></div>
                            <div id="voucher-expiration-date" class="expiration-date"></div>
                            <div id="voucher-code" class="code"></div>
                        </div>
                    </div>
                </div>

                <div id="dt-start"></div>

                <div class="btns center">
                    <button class="btn-default border js-print">Imprimir</button>
                </div>
            </div>
        </div>
    </div>
</div>
