{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms'%}cms.title.promotion{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.edit{% endtrans %}{% endblock %}

{% block body %}
    {{ form_start(edit_form) }}
	<div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label required">{% trans from 'cms' %}cms.field.banners{% endtrans %}</label>
                <div class="offset-md-2 col-sm-10 non-form-field">
                    {{ sg_datatables_render(datatable) }}
                </div>
                <div class="col-sm-10 col-md-offset-2 non-form-field">
                    <div class="btn-group" role="group">
                        <a class="btn btn-success btn-xs" role="button" href="{{ path('cms_bannerpromotion_new', { promotionId: promotion.id }) }}">
                            <i class="fas fa-plus-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer with-border"></div>
        <div class="box-body">
            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.slug) }}
            {{ form_row(edit_form.description) }}
        </div>
        <div class="box-footer with-border"></div>
        <div class="box-body">
            <div class="form-group">
                {{ form_label(edit_form.content) }}
                <div class="col-sm-10 non-form-field">
                    <div id="content_editor" data-editor-for="{{ edit_form.content.vars.id }}"></div>
                    {{ form_widget(edit_form.content) }}
                    {{ form_errors(edit_form.content) }}
                </div>
            </div>
        </div>
        <div class="box-footer with-border"></div>
        <div class="box-body">
            <div class="form-group">
                {{ form_label(edit_form.regulation) }}
                <div class="col-sm-10 non-form-field">
                    <div id="regulation_editor" data-editor-for="{{ edit_form.regulation.vars.id }}"></div>
                    {{ form_widget(edit_form.regulation) }}
                    {{ form_errors(edit_form.regulation) }}
                </div>
            </div>
        </div>
        <div class="box-footer with-border"></div>
        <div class="box-body">
            {{ form_row(edit_form.isActive) }}
            {{ form_row(edit_form.publishedAt) }}
            {{ form_row(edit_form.expiredAt) }}
        </div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_promotion_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="{% trans from 'cms' %}cms.button.edit{% endtrans %}" />
					{{ form_end(edit_form) }}
				</div>
				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" data-confirm-message="{% trans from 'cms' %}cms.message.confirm_delete{% endtrans %}" value="{% trans from 'cms' %}cms.button.delete{% endtrans %}">
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cms_promotion') }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cms_promotion') }}

	<script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
