{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms'%}cms.title.promotion{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.list{% endtrans %}{% endblock %}

{% block body %}
	<div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
			{{ sg_datatables_render(datatable) }}
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cms_promotion') }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cms_promotion') }}

	<script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
