{% extends 'cms/modules/base.html.twig' %}

{% block title %}
    {% trans from 'cms'%}cms.title.promotion{% endtrans %}
{% endblock %}
{% block tagline %}
    {% trans from 'cms' %}cms.title.create{% endtrans %}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
            {{ form_row(form.title) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.description) }}
        </div>
        <div class="box-footer with-border"></div>
        <div class="box-body">
            <div class="form-group">
                {{ form_label(form.content) }}
                <div class="col-sm-10 non-form-field">
                    <div id="content_editor" data-editor-for="{{ form.content.vars.id }}"></div>
                    {{ form_widget(form.content) }}
                    {{ form_errors(form.content) }}
                </div>
            </div>
        </div>
        <div class="box-footer with-border"></div>
        <div class="box-body">
            <div class="form-group">
                {{ form_label(form.regulation) }}
                <div class="col-sm-10 non-form-field">
                    <div id="regulation_editor" data-editor-for="{{ form.regulation.vars.id }}"></div>
                    {{ form_widget(form.regulation) }}
                    {{ form_errors(form.regulation) }}
                </div>
            </div>
        </div>
        <div class="box-footer with-border"></div>
        <div class="box-body">
            {{ form_row(form.isActive) }}
            {{ form_row(form.publishedAt) }}
            {{ form_row(form.expiredAt) }}
        </div>
        <div class="box-footer with-border">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-default" role="button" href="{{ path('cms_promotion_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>
                </div>
                <div class="btn-group pull-right" role="group">
                    <input class="btn btn-success" type="submit" value="{% trans from 'cms' %}cms.button.create{% endtrans %}"/>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cms_promotion') }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cms_promotion') }}
{% endblock %}
