{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms'%}cms.title.promotion{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.show{% endtrans %}{% endblock %}

{% block body %}
	<div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.id{% endtrans %}</th>
						<td>{{ promotion.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.title{% endtrans %}</th>
						<td>{{ promotion.title }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.slug{% endtrans %}</th>
						<td>{{ promotion.slug }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.description{% endtrans %}</th>
						<td>{{ promotion.description }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.banners{% endtrans %}</th>
						<td class="promotion-banner-list">
                            {% for banner in promotion.banners %}
                                <a data-featherlight="{{ asset(image_upload_path ~ banner.image)|imagine_filter('cms_datatable_preview') }}">
                                    <img src="{{ asset(image_upload_path ~ (banner.image ?? banner.imageMobile))|imagine_filter('cms_mosaic_thumb') }}">
                                    <div class="text-center">{{ banner.title }}</div>
                                </a>
                            {% else %}
                                {% trans from 'cms' %}cms.message.no_banners{% endtrans %}
                            {% endfor %}
                        </td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.content{% endtrans %}</th>
						<td class="content-promotion">{{ promotion.content|raw }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.regulation{% endtrans %}</th>
						<td class="regulation-promotion">{{ promotion.regulation|raw }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.is_active{% endtrans %}</th>
						<td>
                            {% if promotion.isActive %}
                                <span class="label bg-green">
                                    {% trans from 'cms' %}cms.datatables.yes{% endtrans %}
                                </span>
                            {% else %}
                                <span class="label bg-red">
                                    {% trans from 'cms' %}cms.datatables.no{% endtrans %}
                                </span>
                            {% endif %}
                        </td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.published_at{% endtrans %}</th>
						<td>
                            {% if promotion.publishedAt %}
                                {{ promotion.publishedAt|date('d-m-Y H:i:s') }} {% if promotion.publishedAt > date("now") %}<span class="label bg-yellow"><i class="fas fa-clock"></i></span>{% endif %}
                            {% endif %}
                        </td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.expired_at{% endtrans %}</th>
						<td>
                            {% if promotion.expiredAt %}
                                {{ promotion.expiredAt|date('d-m-Y H:i:s') }} {% if promotion.expiredAt < date("now") %}<span class="label bg-red"><i class="fas fa-clock"></i></span>{% endif %}
                            {% endif %}
                        </td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.created_at{% endtrans %}</th>
						<td>{% if promotion.createdAt %}{{ promotion.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_promotion_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>

				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('cms_promotion_edit', { 'id': promotion.id }) }}">{% trans from 'cms' %}cms.button.edit{% endtrans %}</a>
				</div>

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" data-confirm-message="{% trans from 'cms' %}cms.message.confirm{% endtrans %}" type="submit" data-confirm-message="{% trans from 'cms' %}cms.message.confirm_delete{% endtrans %}" value="{% trans from 'cms' %}cms.button.delete{% endtrans %}">
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cms_promotion') }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cms_promotion') }}
{% endblock %}
