{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms'%}cms.title.banner{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.show{% endtrans %}{% endblock %}

{% block body %}
	<div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.id{% endtrans %}</th>
						<td>{{ bannerPromotion.id }}</td>
					</tr>
					{% if bannerPromotion.title %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.title{% endtrans %}</th>
						<td>{{ bannerPromotion.title }}</td>
					</tr>
					{% endif %}
					{% if bannerPromotion.description %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.description{% endtrans %}</th>
						<td>{{ bannerPromotion.description }}</td>
					</tr>
					{% endif %}
					{% if bannerPromotion.button %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.button{% endtrans %}</th>
						<td>{{ bannerPromotion.button }}</td>
					</tr>
					{% endif %}
                    {% if bannerPromotion.image %}
                    <tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.image{% endtrans %}</th>
						<td>
                            <a id="imageSample" data-featherlight="{{ asset(image_upload_path ~ bannerPromotion.image.filename)|imagine_filter('cms_datatable_preview') }}">
                                <img src="{{ asset(image_upload_path ~ bannerPromotion.image.filename)|imagine_filter('cms_mosaic_thumb') }}">
                            </a>
                        </td>
					</tr>
                    {% endif %}
                    {% if bannerPromotion.imageMobile %}
                    <tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.imageMobile{% endtrans %}</th>
						<td>
                            <a id="imageMobileSample" data-featherlight="{{ asset(image_upload_path ~ bannerPromotion.imageMobile.filename)|imagine_filter('cms_datatable_preview') }}">
                                <img src="{{ asset(image_upload_path ~ bannerPromotion.imageMobile.filename)|imagine_filter('cms_mosaic_thumb') }}">
                            </a>
                        </td>
					</tr>
                    {% endif %}
                    {% if bannerPromotion.url %}
                    <tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.url{% endtrans %}</th>
						<td>
                            <a target="_blank" rel="noopener noreferrer noreferrerwhich" href="{{ bannerPromotion.url }}">
                                {{ bannerPromotion.url }}
                            </a>
                        </td>
					</tr>
                    {% endif %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.promotion{% endtrans %}</th>
						<td>
                            <a href="{{ path('cms_promotion_show', { id: bannerPromotion.promotion.id }) }}">
                                {{ bannerPromotion.promotion.title }}
                            </a>
                        </td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.is_active{% endtrans %}</th>
						<td>{% if bannerPromotion.isActive %}{% trans from 'cms' %}cms.datatables.yes{% endtrans %}{% else %}{% trans from 'cms' %}cms.datatables.no{% endtrans %}{% endif %}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.created_at{% endtrans %}</th>
						<td>{% if bannerPromotion.createdAt %}{{ bannerPromotion.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_promotion_show', { id: bannerPromotion.promotion.id }) }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>

				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('cms_bannerpromotion_edit', { 'id': bannerPromotion.id }) }}">{% trans from 'cms' %}cms.button.edit{% endtrans %}</a>
				</div>

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" data-confirm-message="{% trans from 'cms' %}cms.message.confirm{% endtrans %}" type="submit" value="{% trans from 'cms' %}cms.button.delete{% endtrans %}">
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
