body {
  background-color: #000;
  color: #fff;
  font-family: 'Omnes', sans-serif;
  font-weight: 500;
  //opacity: 0;
}

.jarallax {
  position: relative;
  z-index: 0;
}

.jarallax > .jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}