.dashboard {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    margin-left: 170px;
    width: 400px;
    background: url(../../../images/bg-branco-sm.jpg) repeat-y top;
    border: 1px solid $color1;
    padding: 40px;
    color: #4d4d4d;
    z-index: 100;

    .resume-dashboard {
        position: relative;
        margin-top: 0;
        margin-bottom: 30px;
        font-family: 'Trajan', sans-serif;
        font-weight: normal;
        text-align: right;
        padding-right: 30px;
        .line {
            top: 160px;
            transform: scale(0.8);
        }
        .number {
            font-size: 90px;
            min-height: 100px;
        }
        .text {
            font-size: 28px;
        }
    }

    .voucher-exp {
        display: none;
    }

    p {
        font-family: 'Trajan', sans-serif;
        font-size: 17px;
        margin-bottom: 17px;
        font-weight: normal;
        strong {
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
            font-family: 'Omnes-Bold', sans-serif;
        }
        &.incomplete {
            display: none;
            font-family: 'Omnes', sans-serif;
            a {
                color: #808080;
                text-decoration: underline;
                display: inline-block !important;
            }
            span {
                font-weight: 600;
            }
        }
        &.vouchers {
            //display: none;
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 120px;
        padding: 35px;
        a {
            display: flex;
            align-items: center;
        }
    }
}

@media only screen and (max-width:1200px) {
    .dashboard {
        margin-left: 70px;
        width: 330px;
        .resume-dashboard {
            .number {
                font-size: 90px;
            }
            .line {
                left: -30px;
                transform: scale(0.8);
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .dashboard {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        width: 100%;
        padding: 30px;
        border-top: none;
        .resume-dashboard {
            margin-top: 40px;
        }
        footer {
            height: auto;
            position: relative;
            padding: 10px 0;
        }
    }
}

@media only screen and (max-width:990px) and (min-width:768px) {
    .dashboard {
        padding: 20px;
        p {
            font-size: 16px;
        }
        .resume-dashboard {
            margin-top: 20px;
            margin-bottom: 25px;
            .number {
                font-size: 70px;
                min-height: 70px;
            }
            .line {
                top: 155px;
                left: -10px;
                transform: scale(0.65);
            }
        }
        footer {
            position: relative;
            padding: 0;
            height: 50px;
        }
    }
}

@media only screen and (max-height:910px) and (min-width:768px) {
    .dashboard {
        padding: 20px 45px;
        .resume-dashboard {
            margin-top: 20px;
            margin-bottom: 20px;
            .number {
                font-size: 90px;
                line-height: 90px;
            }
            .line {
                top: 165px;
                transform: scale(0.8);
            }
        }
        footer {
            height: 100px;
            padding: 25px 30px;

            a {
                padding: 10px 28px;
            }
        }
    }
}
