#kc-footer {
    background: url('../../../images/bg-footer.jpg') repeat center;
    color: #808080;
    .main {
        padding-top: 25px;
        padding-bottom: 65px;
        h3 {
            font-size: 16px;
            color: #ffffff;
            font-weight: 400;
            margin: 35px 0 30px;
        }
        a {
            line-height: 18px;
            font-size: 14px;
            color: #808080;
            font-weight: 400;
        }
        .social {
            h3 {
                text-align: right;
            }
        }
    }
    .copy {
        background-color: #000;
        padding: 15px 0 55px;
        p {
            font-size: 12px;
        }
        .condicoes {
            text-align: right;
        }
    }

    .main-menu {
        ul {
            li {
                &.logged-option {
                    display: none;
                }
            }
        }
    }

    &.auth {
        .main-menu {
            ul {
                li {
                    &.logged-option {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    #kc-footer {
        .copy {
            .condicoes {
                br {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    #kc-footer {
        .main {
            padding-bottom: 30px;
            .social {
                padding-right: 0;
                .social-menu {
                    justify-content: center;
                }
                h3 {
                    text-align: center;
                }
            }
        }
        .copy {
            padding-top: 20px;
            text-align: center;
            .condicoes {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}
