$header-height: 110px;

#kc-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-bottom: 1px solid #b3b3b3;
    z-index: 150;
    transition: all 1s ease-out;

    .menu-logo {
        height: $header-height;
        display: flex;
        align-items: center;

        #btn-menu {
            display: block;
            position: relative;
            width: 32px;
            height: 32px;
            padding: 10px;
            margin-right: 48px;
            cursor: pointer;
            &::before {
                content: " ";
                position: absolute;
                width: 100%;
                top: 12px;
                left: 0;
                height: 2px;
                background-color: $color1;
                transition: all 0.8s ease-out;
            }
            &::after {
                content: " ";
                position: absolute;
                width: 100%;
                bottom: 12px;
                left: 0;
                height: 2px;
                background-color: $color1;
                transition: all 0.8s ease-out;
            }
            &.open {
                &::before {
                    transform: translateX(-5px);
                }
                &::after {
                    transform: translateX(5px);
                }
            }
        }

        h1 {
            a {
                display: block;
                width: 180px;
                height: 60px;
                text-indent: -9999px;
                background: url('../../../images/logo-kopclub.svg') no-repeat center;
                background-size: 180px 60px;
            }
        }
    }

    &.points {
        .navigation {
            .public {
                visibility: hidden;
            }
        }
    }

    .navigation {
        position: relative;
        padding: 0;
        .btn-default {
            font-size: 20px;
        }
        nav {
            ul {
                height: $header-height;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li {
                    position: relative;
                    margin-left: 80px;
                    a {
                        color: $color1;
                    }
                }
            }
        }
        .public {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        .logged {
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            transform: translateX(-30px);
            .user-profile {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            ul {
                li {
                    margin-left: 30px;
                    .btn-default {
                        padding: 5px;
                        font-size: 17px;
                    }
                }
            }
            .text {
                max-width: 200px;
                padding-left: 20px;
                p {
                    margin-bottom: 5px;
                    color: #b3b3b3;
                    font-size: 22px;
                }
                a {
                    font-size: 16px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .btn-close {
        visibility: hidden;
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .bg-open {
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(../../../images/bg-menu.jpg) repeat-y center #191919;
        z-index: -1;
    }

    &.logged {
        .public {
            display: none;
        }
        .logged {
            display: block;
        }
    }

    &.isOpen {
        border-bottom: none;
    }
}

.ct-notification {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    transform: translateY(-110px);
    transition: all 0.3s ease-out;
    z-index: 140;
    background-color: #000;
    p {
        text-align: center;
        padding: 20px;
        color: #b3b3b3;
        font-weight: 500;
        a {
            color: #b3b3b3;
            text-decoration: underline;
            transition: all 0.3s ease-out;
            &:hover {
                color: #fff;
            }
        }
    }
    &.error {
        background-color: #9d342e;
    }
    &.success {
        background-color: #3f9d4c;
    }
    &.open {
        transform: translateY(0);
    }
}

#kc-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../../images/bg-menu.jpg) repeat-y center #191919;
    z-index: 140;
    visibility: hidden;
    display: none;
    padding-top: 160px;

    ul {
        li {
            margin-bottom: 20px;
            a {
                color: #fff;
                font-family: "Trajan", sans-serif;
                font-size: 36px;
                text-transform: uppercase;
                transition: all 0.5s ease-out;
                &:hover, &.active {
                    color: $color1;
                    text-decoration: underline;
                }
            }
            &.logged-option {
                display: none;
            }
            &.public-option {
                display: none;
            }
        }
    }

    .social {
        margin-top: 60px;
        h3 {
            color: #4d4d4d;
            margin-bottom: 30px;
        }
        .social-menu {
            justify-content: flex-start;
            li {
                margin-left: 0;
                a {
                    padding-left: 0;
                    padding-right: 30px;
                }
            }
        }
    }

    &.auth {
        ul {
            li {
                &.logged-option {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    #kc-header {
        .navigation {
            .logged {
                .text {
                    p {
                        font-size: 18px;
                    }
                }
            }
            .btn-default {
                font-size: 16px;
                padding: 10px;
            }
        }
    }
    #kc-menu {
        //
    }
}

@media only screen and (max-width:767px) {
    #kc-header {
        height: 70px;
        .menu-logo {
            height: 70px;
            justify-content: flex-end;
            #btn-menu {
                position: absolute;
                left: 20px;
                top: 20px;
            }
            h1 {
                a {
                    background-size: 140px 48px;
                }
            }
        }
        .btn-close {
            top: 20px;
            right: 20px;
        }
        .navigation {
            nav {
                ul {
                    height: 70px;
                    li {
                        margin-left: 0;
                    }
                }
            }
            .public {
                margin-right: 10px;
                height: 50px;
                .btn-register {
                    display: none;
                }
            }
            .logged {
                .my-points, .my-vouchers, .user-profile, #btn-change-password {
                    display: none;
                }
            }
            .btn-logout {
                margin-right: 10px;
            }
        }
    }

    #kc-menu {
        padding-top: 100px;
        ul {
            padding-left: 10px;
            padding-right: 10px;
            li {
                a {
                    font-size: 24px;
                }
                &.public-option {
                    display: block;
                }
            }
        }

        &.auth {
            ul {
                li {
                    &.public-option {
                        display: none;
                    }
                }
            }
        }
    }

    .ct-notification {
        top: 70px;
    }
}

@media only screen and (min-width:990px) and (max-height:705px) {
    #kc-menu {
        padding-top: 130px;

        ul li a {
            font-size: 28px;
        }

        .social {
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width:990px) and (min-width:768px) {
    #kc-header {
        .menu-logo {
            h1 {
                a {
                    width: 140px;
                    background-size: 140px;
                }
            }
        }
        .navigation {
            .logged {
                ul {
                    li {
                        margin-left: 15px;
                        .btn-default {
                            font-size: 15px;
                            padding: 10px 5px;
                        }
                    }
                }
                .user-profile {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
                .text {
                    padding-left: 0;
                    margin-left: 10px;
                    a {
                        font-size: 14px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
