.login {
    top: 60px;
    left: -148px;
    padding: 30px;
    display: none;

    .btn-close {
        top: 30px !important;
        right: 30px !important;
        z-index: 10;
    }

    h4 {
        font-family: 'Trajan', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 30px;
        span {
            color: $color1;
        }
    }

    p {
        font-size: 16px;
        color: #808080;
        margin-bottom: 20px;
        strong {
            font-weight: 600;
        }
    }

    a {
        color: $color1;
    }

    .btns {
        color: $color1;
        a {
            &:first-child {
                margin-right: 5px;
            }
            &:last-child {
                margin-left: 5px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .login {
        width: 95%;
        position: fixed;
        right: 10px;
        left: 10px;
        top: 70px;
        &::before {
            right: 25px;
            left: auto;
        }
    }
}
