<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}{% endblock %}</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        {% block stylesheets %}
            {{ encore_entry_link_tags('cms_general') }}
        {% endblock %}
	</head>

	<body class="hold-transition login-page skin-yellow">
		{% block body %}{% endblock %}
        {% block scripts %}
            {{ encore_entry_script_tags('cms_general') }}
        {% endblock %}
	</body>
</html>
