<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {% block stylesheets %}
        {{ encore_entry_link_tags('cms_general') }}
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('cms_general') }}
    {% endblock %}
</head>

<body class="hold-transition skin-yellow sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<a href="{{ path('cms_default_index') }}" class="logo">
				<span class="logo-mini"></span>
				<span class="logo-lg"></span>
			</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="user user-menu">
							<a href="" class="dropdown-toggle">
								<span class="hidden-xs">{{ app.user.username }}</span>
							</a>
                        </li>
                        <li>
                            <a href="{{ path('cms_manager_edit', { 'id' : app.user.id }) }}" title="{% trans from 'cms' %}cms.button.change_password{% endtrans %}"><i class="fa fa-lock"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('cms_auth_logout') }}" title="{% trans from 'cms' %}cms.button.log_out{% endtrans %}"><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
		</header>

		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu" data-widget="tree">
					<li class="header">{% trans from 'cms' %}cms.title.cms{% endtrans %}</li>
					<li class="treeview {% if app.request.get('_route') matches '/^cms_bannerhome/' %}active{% endif %}">
						<a href="#">
                            <i class="fa fa-images"></i> <span>{% trans from 'cms' %}cms.menu.bannerhome{% endtrans %}</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
						<ul class="treeview-menu">
							<li class="{{ app.request.get('_route') is same as('cms_bannerhome_index') ? 'active' }}">
                                <a href="{{ path('cms_bannerhome_index') }}">
                                    {% trans from 'cms' %}cms.menu.bannerhome_list{% endtrans %}
                                </a>
                            </li>
							<li class="{{ app.request.get('_route') is same as('cms_bannerhome_new') ? 'active' }}">
                                <a href="{{ path('cms_bannerhome_new') }}">
                                    {% trans from 'cms' %}cms.menu.bannerhome_create{% endtrans %}
                                </a>
                            </li>
						</ul>
					</li>
					<li class="treeview {% if app.request.get('_route') matches '/^cms_promotion/' %}active{% endif %}">
						<a href="#">
                            <i class="fa fa-newspaper"></i> <span>{% trans from 'cms' %}cms.menu.promotion{% endtrans %}</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
						<ul class="treeview-menu">
							<li class="{{ app.request.get('_route') is same as('cms_promotion_index') ? 'active' }}">
                                <a href="{{ path('cms_promotion_index') }}">
                                    {% trans from 'cms' %}cms.menu.promotion_list{% endtrans %}
                                </a>
                            </li>
							<li class="{{ app.request.get('_route') is same as('cms_promotion_new') ? 'active' }}">
                                <a href="{{ path('cms_promotion_new') }}">
                                    {% trans from 'cms' %}cms.menu.promotion_create{% endtrans %}
                                </a>
                            </li>
						</ul>
					</li>
					<li class="treeview  {% if app.request.get('_route') matches '/^cms_manager/' %}active{% endif %}">
						<a href="#">
                            <i class="fa fa-user"></i> <span>{% trans from 'cms' %}cms.menu.managers{% endtrans %}</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>
						<ul class="treeview-menu">
							<li class="{{ app.request.get('_route') is same as('cms_manager_index') ? 'active' }}">
                                <a href="{{ path('cms_manager_index') }}">
                                    {% trans from 'cms' %}cms.menu.managers_list{% endtrans %}
                                </a>
                            </li>
							<li class="{{ app.request.get('_route') is same as('cms_manager_new') ? 'active' }}">
                                <a href="{{ path('cms_manager_new') }}">
                                    {% trans from 'cms' %}cms.menu.managers_create{% endtrans %}
                                </a>
                            </li>
						</ul>
					</li>
				</ul>
			</section>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>{{ block('title') }}<small>{% block tagline %}{% endblock %}</small></h1>
			</section>
			<section class="content container-fluid">
				<div class="row">
					<div class="col-xs-12">
						{% include 'cms/modules/messages.html.twig' %}

						{% block body %}{% endblock %}
					</div>
				</div>
			</section>
		</div>

		<footer class="main-footer">
		</footer>
	</div>
</body>
</html>
