{% for flashMessage in app.session.flashbag.get('error') %}
	<div class="alert alert-danger fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

		<h4><i class="fa fa-warning"></i>&nbsp;{% trans from 'cms' %}cms.title.error{% endtrans %}</h4>
		{{ flashMessage }}
	</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
	<div class="alert alert-success fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

		<h4><i class="fa fa-check"></i>&nbsp;{% trans from 'cms' %}cms.title.success{% endtrans %}</h4>
		{{ flashMessage }}
	</div>
{% endfor %}
