.content-promotion, .ql-editor {
    max-width: 800px;
    min-height: 400px;
    p {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.blockquote-default {
    padding-left: 0;
    padding-right: 30px;
    border-left: none;
    margin: 0 0 30px;
    float: left;
    width: 50%;
    color: #32363f;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.content-promotion {
    blockquote {
        @extend .blockquote-default;
    }
}

.ql-snow {
    .ql-editor {
        blockquote {
            @extend .blockquote-default;
        }
    }
}
