{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms' %}cms.title.manager{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.edit{% endtrans %}{% endblock %}

{% block body %}
	{{ form_start(edit_form) }}
	<div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
				{{ form_widget(edit_form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_manager_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="{% trans from 'cms' %}cms.button.edit{% endtrans %}" />
					{{ form_end(edit_form) }}
				</div>
				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" data-confirm-message="{% trans from 'cms' %}cms.message.confirm{% endtrans %}" value="{% trans from 'cms' %}cms.button.delete{% endtrans %}">
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
