{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms'%}cms.title.manager{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.show{% endtrans %}{% endblock %}

{% block body %}
	<div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.id{% endtrans %}</th>
						<td>{{ manager.id }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.email{% endtrans %}</th>
						<td>{{ manager.username }}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.is_active{% endtrans %}</th>
						<td>{% if manager.isActive %}{% trans from 'cms' %}cms.datatables.yes{% endtrans %}{% else %}{% trans from 'cms' %}cms.datatables.no{% endtrans %}{% endif %}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.created_at{% endtrans %}</th>
						<td>{% if manager.createdAt %}{{ manager.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_manager_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>

				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('cms_manager_edit', { 'id': manager.id }) }}">{% trans from 'cms' %}cms.button.edit{% endtrans %}</a>
				</div>

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" data-confirm-message="{% trans from 'cms' %}cms.message.confirm{% endtrans %}" type="submit" value="{% trans from 'cms' %}cms.button.delete{% endtrans %}">
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
