<section class="experience">
    <div class="shine type2 experience-right"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-5">
                <h2>A EXPERIÊNCIA ÚNICA<br/>
                    DE QUEM ESCOLHE<br/>
                    <strong>KOPENHAGEN</strong><br/>
                    VAI ALÉM DO SABOR<br/></h2>
            </div>
            <div class="col-sm-5 text">
                <p>Nosso Programa de Vantagens é uma maneira de recompensar todos aqueles que transformam o dia a dia com os chocolates Kopenhagen em verdadeiro ritual.</p>
                <p>O Kop Club é um universo exclusivo de pontos que se convertem em presentes deliciosos para nossos bens mais preciosos: os clientes Kopenhagen. </p>
                <p><strong>Seja bem-vindo!</strong></p>
            </div>
        </div>
    </div>
</section>
