<section id="how-to" >
    <div class="bg" id="sm-bg-how"></div>
    <div class="container">

        <div class="row">
            <div class="col">
                <h2 id="sm-thow">É fácil aproveitar<br/>
                    os benefícios <span>Kop Club</span></h2>
            </div>
        </div>

        <div class="row benefits">
            <div class="col-md-4">
                <div class="line"></div>
                <div class="ico">
                    <img src="{{ asset('build/images/icones/sacola.svg') }}" alt="Informe seu CPF" />
                </div>
                <div class="text">
                    <h5>Informe seu CPF</h5>
                    <p>Ao final de cada compra, informe o CPF cadastrado para registrar seus pontos.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="line"></div>
                <div class="ico">
                    <img src="{{ asset('build/images/icones/moeda.svg') }}" alt="Acumule Pontos" />
                </div>
                <div class="text">
                    <h5>Acumule Pontos</h5>
                    <p>A partir de 150 pontos já é possível resgatar presentes. <br />
                        <span>R$ 1,00 equivale a 1 ponto Kop Club.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="line"></div>
                <div class="ico">
                    <img src="{{ asset('build/images/icones/chocolate.svg') }}" alt="Escolha seus presentes" />
                </div>
                <div class="text">
                    <h5>Escolha seus Presentes</h5>
                    <p>Conheça a faixa de pontos de cada presente exclusivo e escolha o seu favorito.</p>
                </div>
            </div>
        </div>

        <div class="row ct-btns" id="sm-btn-how">
            <div class="col-12 keep-registration">Mantenha sempre seu cadastro atualizado.</div>
            <div class="col-12">
                <a href="{{ authenticator_url }}/?client_id={{ authenticator_client_id }}&state=login&response_type=code&redirect_uri={{ absolute_url(path('site_callback'))|url_encode }}" class="btn-default border lg btn-register">Cadastre-se</a>
                <a href="#" class="btn-default border lg btn-complete-registration">Atualizar cadastro</a>
            </div>
        </div>

    </div>
</section>
