<section id="products">
    <div id="tsm-tprod" style="position:absolute; top: -250px;"></div>
    <div id="tsm-products" style="position:absolute; top: -100px;"></div>
    <div class="shine products-right" id="shine-prod-top"></div>

    <div class="container">

        <div class="row">
            <div class="col">
                <h2 id="sm-tprod">Acumule <span>pontos</span><br/>
                    e troque por produtos</h2>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-5 col-lg-3">
                <div class="product">
                    <div class="image castanha">
                        <img src="{{ asset('build/images/produtos/tablete-crocante-castanha-caju.png') }}" alt="Tablete crocante castanha de cajú 40g">
                    </div>
                    <div class="text">
                        <h6>Tablete Crocante Castanha-de-Caju 40g</h6>
                        <p>150 pontos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3">
                <div class="product">
                    <div class="image flocos">
                        <img src="{{ asset('build/images/produtos/keep-koop-flocos-de-arroz.png') }}" alt="Keep Koop flocos de arroz 120g">
                    </div>
                    <div class="text">
                        <h6>Keep Kop Flocos de Arroz 120g</h6>
                        <p>300 pontos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3">
                <div class="product">
                    <div class="image amargo">
                        <img src="{{ asset('build/images/produtos/tablete-amargo.png') }}" alt="Tablete amargo 100g">
                    </div>
                    <div class="text">
                        <h6>Tablete Amargo 100g</h6>
                        <p>300 pontos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3">
                <div class="product">
                    <div class="image gato">
                        <img src="{{ asset('build/images/produtos/lingua-de-gato.png') }}" alt="Língua de Gato 85g">
                    </div>
                    <div class="text">
                        <h6>Língua de Gato 85g</h6>
                        <p>300 pontos</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="shine black products-left" id="shine-prod-botton"></div>

</section>
