<section class="box-register banner-parallax">
    <div id="tsm-stopreg" style="position:absolute; top: -200px;"></div>
    <div id="tsm-treg" style="position:absolute; top: -150px;"></div>
    <div class="shine register-right" id="shine-reg-top"></div>
    <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-full-cadastrese.jpg') }})"></div>
    <div class="banner">
        <div class="ct-caption">
            <div class="line"></div>
            <div class="caption" id="sm-treg">
                <h4>CADASTRE-SE</h4>
                <h2>FAÇA PARTE <br/>
                    <span class="sm">DO NOSSO CLUBE</span></h2>
                <p class="gray w400">Cadastre-se e receba promoções, ofertas exclusivas<br/>
                    e troque seus pontos por prêmios deliciosos.</p>
                <a href="{{ authenticator_url }}/?client_id={{ authenticator_client_id }}&state=login&response_type=code&redirect_uri={{ absolute_url(path('site_callback'))|url_encode }}" class="btn-default border type2 btn-register">Cadastre-se</a>
            </div>
        </div>
    </div>
    <div class="shine black register-left" id="shine-reg-botton"></div>
</section>
