{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms' %}cms.title.bannerhome{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.edit{% endtrans %}{% endblock %}

{% block body %}
	{{ form_start(edit_form) }}
	<div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.description) }}
            {{ form_row(edit_form.button) }}

            <div class="form-group">
                {{ form_label(edit_form.image) }}
				<div class="col-sm-10 non-form-field">
                    {% if bannerHome.image and bannerHome.image.filename %}
                        {% if bannerHome.image.extension == 'tmp' %}
                            <a id="imageSample" download href="{{ asset(image_upload_path ~ bannerHome.image.filename) }}">
                                <i class="fas fa-times"></i> {{ bannerHome.image.getClientOriginalName() }}
                            </a>
                        {% else %}
                            <a id="imageSample" data-featherlight="{{ asset(image_upload_path ~ bannerHome.image.filename)|imagine_filter('cms_datatable_preview') }}">
                                <img src="{{ asset(image_upload_path ~ bannerHome.image.filename)|imagine_filter('cms_mosaic_thumb') }}">
                            </a>
                        {% endif %}
                    {% else %}
						Arquivo não disponível no servidor.
                    {% endif %}
				</div>
			</div>
            <div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
                    {{ form_widget(edit_form.image) }}
                    {{ form_errors(edit_form.image) }}
                </div>
			</div>

            <div class="form-group">
                {{ form_label(edit_form.imageMobile) }}
				<div class="col-sm-10 non-form-field">
                    {% if bannerHome.imageMobile and bannerHome.imageMobile.filename %}
                        {% if bannerHome.imageMobile.extension == 'tmp' %}
                            <a id="imageMobileSample" download href="{{ asset(image_upload_path ~ bannerHome.imageMobile.filename) }}">
                                <i class="fas fa-times"></i> {{ bannerHome.imageMobile.getClientOriginalName() }}
                            </a>
                        {% else %}
                            <a id="imageMobileSample" data-featherlight="{{ asset(image_upload_path ~ bannerHome.imageMobile.filename)|imagine_filter('cms_datatable_preview') }}">
                                <img src="{{ asset(image_upload_path ~ bannerHome.imageMobile.filename)|imagine_filter('cms_mosaic_thumb') }}">
                            </a>
                        {% endif %}
                    {% else %}
						Arquivo não disponível no servidor.
                    {% endif %}
				</div>
			</div>
            <div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
                    {{ form_widget(edit_form.imageMobile) }}
                    {{ form_errors(edit_form.imageMobile) }}
                </div>
			</div>

            {{ form_widget(edit_form) }}
        </div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_bannerhome_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="{% trans from 'cms' %}cms.button.edit{% endtrans %}" />
					{{ form_end(edit_form) }}
				</div>
				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" type="submit" data-confirm-message="{% trans from 'cms' %}cms.message.confirm{% endtrans %}" value="{% trans from 'cms' %}cms.button.delete{% endtrans %}">
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
