{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms'%}cms.title.banner{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.create{% endtrans %}{% endblock %}

{% block body %}
{{ form_start(form) }}
	<div class="box box-primary">
		<div class="box-header"></div>
        <div class="box-body">
				{{ form_widget(form) }}
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_bannerhome_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>
				</div>
				<div class="btn-group pull-right" role="group">
					<input class="btn btn-success" type="submit" value="{% trans from 'cms' %}cms.button.create{% endtrans %}" />
				</div>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock %}
