{% extends 'cms/modules/base.html.twig' %}

{% block title %}{% trans from 'cms'%}cms.title.banner{% endtrans %}{% endblock %}
{% block tagline %}{% trans from 'cms' %}cms.title.show{% endtrans %}{% endblock %}

{% block body %}
	<div class="box box-primary">
        <div class="box-header"></div>
		<div class="box-body">
			<table class="table table-bordered table-hover">
				<tbody>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.id{% endtrans %}</th>
						<td>{{ bannerHome.id }}</td>
					</tr>
					{% if bannerHome.title %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.title{% endtrans %}</th>
						<td>{{ bannerHome.title }}</td>
					</tr>
					{% endif %}
					{% if bannerHome.description %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.description{% endtrans %}</th>
						<td>{{ bannerHome.description }}</td>
					</tr>
					{% endif %}
					{% if bannerHome.button %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.button{% endtrans %}</th>
						<td>{{ bannerHome.button }}</td>
					</tr>
					{% endif %}
                    {% if bannerHome.image %}
                    <tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.image{% endtrans %}</th>
						<td>
                            <a id="imageSample" data-featherlight="{{ asset(image_upload_path ~ bannerHome.image.filename)|imagine_filter('cms_datatable_preview') }}">
                                <img src="{{ asset(image_upload_path ~ bannerHome.image.filename)|imagine_filter('cms_mosaic_thumb') }}">
                            </a>
                        </td>
					</tr>
                    {% endif %}
                    {% if bannerHome.imageMobile %}
                    <tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.imageMobile{% endtrans %}</th>
						<td>
                            <a id="imageMobileSample" data-featherlight="{{ asset(image_upload_path ~ bannerHome.imageMobile.filename)|imagine_filter('cms_datatable_preview') }}">
                                <img src="{{ asset(image_upload_path ~ bannerHome.imageMobile.filename)|imagine_filter('cms_mosaic_thumb') }}">
                            </a>
                        </td>
					</tr>
                    {% endif %}
                    {% if bannerHome.url %}
                    <tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.url{% endtrans %}</th>
						<td>
                            <a target="_blank" rel="noopener noreferrer noreferrerwhich" href="{{ bannerHome.url }}">
                                {{ bannerHome.url }}
                            </a>
                        </td>
					</tr>
                    {% endif %}
                    {% if bannerHome.audience %}
                    <tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.audience{% endtrans %}</th>
						<td>
                            <ul>
                            {% for target in bannerHome.audience %}
                                <li>{{('cms.choice.' ~ target)|trans([], 'cms')}}</li>
                            {% endfor %}
                            </ul>
                        </td>
					</tr>
                    {% endif %}
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.is_active{% endtrans %}</th>
						<td>{% if bannerHome.isActive %}{% trans from 'cms' %}cms.datatables.yes{% endtrans %}{% else %}{% trans from 'cms' %}cms.datatables.no{% endtrans %}{% endif %}</td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.published_at{% endtrans %}</th>
						<td>
                            {% if bannerHome.publishedAt %}
                                {{ bannerHome.publishedAt|date('d-m-Y H:i:s') }} {% if bannerHome.publishedAt > date("now") %}<span class="label bg-yellow"><i class="fas fa-clock"></i></span>{% endif %}
                            {% endif %}
                        </td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.expired_at{% endtrans %}</th>
						<td>
                            {% if bannerHome.expiredAt %}
                                {{ bannerHome.expiredAt|date('d-m-Y H:i:s') }} {% if bannerHome.expiredAt < date("now") %}<span class="label bg-red"><i class="fas fa-clock"></i></span>{% endif %}
                            {% else %}
								{% trans from 'cms' %}cms.message.never{% endtrans %}
							{% endif %}
                        </td>
					</tr>
					<tr>
						<th class="col-sm-2 text-right">{% trans from 'cms' %}cms.field.created_at{% endtrans %}</th>
						<td>{% if bannerHome.createdAt %}{{ bannerHome.createdAt|date('d-m-Y H:i:s') }}{% endif %}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer with-border">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<a class="btn btn-default" role="button" href="{{ path('cms_bannerhome_index') }}">{% trans from 'cms' %}cms.button.back_to_list{% endtrans %}</a>

				</div>

				<div class="btn-group pull-right" role="group">
					<a class="btn btn-primary" href="{{ path('cms_bannerhome_edit', { 'id': bannerHome.id }) }}">{% trans from 'cms' %}cms.button.edit{% endtrans %}</a>
				</div>

				<div class="btn-group pull-right" role="group">
					{{ form_start(delete_form) }}
						<input class="btn btn-danger" data-confirm-message="{% trans from 'cms' %}cms.message.confirm{% endtrans %}" type="submit" value="{% trans from 'cms' %}cms.button.delete{% endtrans %}">
					{{ form_end(delete_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
