{% extends 'site/base.html.twig' %}
{% set area = '404' %}

{% block title %}Não Encontrado{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <section class="banner-parallax">
        <div class="bg jarallax" data-jarallax data-speed="0.2" style="background: url({{ asset('build/images/bg-regulamento.jpg') }})"></div>
        <div class="banner">
            <div class="line"></div>
            <div class="caption">
                <h4>Erro: 404</h4>
                <h2>Conteúdo não encontrado.</h2>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
