.experience {
    padding: 65px 0 55px;
    border-bottom: 1px solid #fff;
    h2 {
        text-align: left;
        margin-bottom: 0;
        line-height: 42px;
        strong {
            color: $color1;
        }
    }

    .text {
        padding-right: 150px;
        p {
            font-size: 16px;
            color: #b3b3b3;
            margin-bottom: 25px;
        }
    }
}

.data {
    overflow: hidden;
    padding: 100px 0 85px;
    background: url(../../../images/bg-red.jpg) no-repeat center top;
    background-size: cover;
    border-bottom: 1px solid $color1;

    .data-item {
        position: relative;
        padding-left: 60px;
        h4 {
            font-family: 'Trajan', sans-serif;
            font-size: 46px;
            font-weight: normal;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
        }
    }
}

@media only screen and (max-width:1200px) {
    .experience {
        h2 {
            font-size: 28px;
            br {
                display: none;
            }
        }
        .text {
            padding-right: 0;
        }
    }

    .data {
        .data-item {
            padding-left: 30px;
            padding-right: 40px;
            h4 {
                font-size: 34px;
            }
            p {
                font-size: 14px;
                br {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .experience {
        h2 {
            line-height: 32px;
            margin-bottom: 30px;
        }
        .text {
            padding-right: 15px;
        }
    }
}
