#login-page {
    overflow: hidden;
    background: url(../../../images/bg-branco-sm.jpg) no-repeat center;
    background-size: cover;

    .shine.banner-left {
        margin-left: -600px;
    }

    a {
      text-decoration: underline;
    }

    a,
    .aux {
        color: #836132;
        font-weight: 100;
    }

    .aux {
      margin: 0 5px;
    }

    .btns {
        color: $color1;
        a {
            &:first-child {
                margin-right: 5px;
            }
            &:last-child {
                margin-left: 5px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .container-login {
        height: 100%;
        margin: 0 auto;
        padding: 40px 0;
        border-radius: 0;
        display: flex;
        justify-content: space-between;

        .description {
          small {
            white-space: nowrap;
          }

          strong {
            color: #4d4d4d;
            font-weight: 500;
          }
        }

        .btns {
            padding-top: 0;
        }

        .left-panel {
            width: 55%;
            overflow: hidden;
            position: relative;
            border-bottom: 8px solid $color1;
            min-height: 630px;

            @media only screen and (max-width:1200px) {
              width: 50%;
              min-height: auto;
            }

            @media only screen and (max-width:990px) {
                width: 45%;
            }

            .bg-box {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-color: black;
                transform: scale(1.05);
                transition: all 0.3s ease-out;
            }
        }

        .right-panel {
            background-color: #e6e6e6;
            width: 45%;
            padding: 100px 0 0 30px;

            @media only screen and (max-width:1200px) {
                width: 50%;
            }

            @media only screen and (max-width:990px) {
                width: 55%;
            }

            @media only screen and (max-width:767px) {
              padding: 0;
            }

            .header {
                h2 {
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-bottom: 15px;
                    color: #000000;
                    font-size: 26px;
                    text-transform: capitalize;

                    span {
                      white-space: nowrap;
                      text-transform: capitalize;
                    }
                }
            }
            p {
                font-weight: 100;
                padding-left: 15px;
                padding-right: 15px;
                color: #808080;
                font: 16px 'Omnes', sans-serif, sans-serif;
                line-height: 20px;
            }
            form {
                margin-top: 30px;

                .btn-default {
                  padding: 15px 25px;
                  width: 100%;
                }
            }
        }

        &:hover {
            .left-panel {
                .bg-box {
                    transform: scale(1.1);
                }
            }
        }
    }
}


@media only screen and (max-width:767px) {
    #login-page {
        .container-login {
            width: 100%;
            flex-wrap: wrap;
            .left-panel {
                order: 2;
                width: 100%;
                height: 450px;
            }
            .right-panel {
                order: 1;
                width: 100%;
            }
        }
    }
}
