#landing {
    height: 100%;
    body {
        height: 100%;
        .landing {
            height: 100%;
        }
    }
}

#participate {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../images/bg-landing.jpg) no-repeat center;
    background-size: cover;

    .container-participate {
        margin-top: -70px;
        position: relative;
        width: 1070px;
        height: 630px;
        border: 2px solid #7a613f;

        header {
            padding-top: 70px;
            text-align: center;
            position: relative;

            .brilho {
                position: absolute;
                top: 50px;
                left: 50%;
                margin-left: 135px;
            }

            .logo {
                &.mob {
                    display: none;
                }
            }
        }

        .choice {
            width: 78%;
            padding-top: 80px;
            margin: 0 auto;
            position: relative;

            h2 {
                font-weight: bold;
                margin-top: 70px;
                line-height: 40px;
                margin-bottom: 0;
                letter-spacing: 1px;
            }

            div {
                text-align: center;

                &:first-child {
                    border-right: 2px solid #7a613f;
                }
            }

            .stamp {
                position: absolute;
                top: 15px;

                &.left {
                    left: 15px;
                    &.mob {
                        display: none;
                    }
                }

                &.right {
                    right: 0;
                    &.mob {
                        display: none;
                    }
                }
            }

            .btn-default {
                background: url(../../../images/participe/bg-btn.png);
                background-size: cover;
                width: 320px;
                height: 60px;
                margin: 25px auto 50px;
                font-size: 22px;
                color: #82582a;
                padding-top: 18px;
            }
        }

        .copy {
            position: absolute;
            bottom: 30px;
            right: 0;
            left: 0;
            text-align: center;
            color: #ffffff;
            font-size: 12px;
            opacity: 0.4;
        }
    }

    .footer-landing {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 70px;
        background: url(../../../images/participe/bg-footer.jpg) no-repeat center;
        text-align: center;
        padding-top: 25px;
    }
}

//NOTEBOOK WIDE
@media only screen and (min-width:990px) and (max-height:768px) {
    #landing {
        height: auto;
        min-height: 100%;
    }
    #participate {
        align-items: flex-start;
        flex-wrap: wrap;

        .container-participate {
            margin-top: 40px;
        }

        .footer-landing {
            background-size: cover;
            width: 100%;
            position: relative;
            bottom: auto;
            margin-top: 80px;
        }
    }
}


@media only screen and (max-width:990px) {
    #participate {
        flex-wrap: wrap;
        overflow: auto;
        border: 2px solid #7a613f;

        .container-participate {
            padding-top: 40px;
            border: none;

            header {
                overflow: hidden;
                .logo {
                    width: 120px;
                    height: auto;
                    &.desk {
                        display: none;
                    }
                    &.mob {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .brilho {
                    top: 62px;
                    width: 90px;
                    height: auto;
                    margin-left: 65px;
                }
            }

            .choice {
                padding-top: 40px;
                h2 {
                    letter-spacing: 5px;
                    font-size: 26px;
                    margin-top: 30px;
                    line-height: 36px;
                    text-align: center;
                }
                .stamp {
                    &.left {
                        top: -17px;
                        left: -10px;
                        width: 80px;
                        height: auto;
                        &.desk {
                            display: none;
                        }
                        &.mob {
                            display: block;
                            margin: 0 auto;
                        }
                    }
                    &.right {
                        top: -17px;
                        right: 7px;
                        width: 80px;
                        height: auto;
                        &.desk {
                            display: none;
                        }
                        &.mob {
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
                .btn-default {
                    width: 100%;
                    height: 50px;
                    padding-top: 14px;
                    line-height: 24px;
                    font-size: 18px;
                    letter-spacing: 1px;
                    margin: 20px auto 80px;
                }
                div {
                    &:first-child {
                        border-right: none;
                    }
                    &:last-child {
                        .btn-default {
                            margin-bottom: 12px;
                        }
                    }
                }
            }
            .copy {
                position: relative;
                margin-top: 50px;
                font-size: 10px;
            }
        }

        .footer-landing {
            background-size: cover;
            width: 100%;
            position: relative;
            bottom: auto;
            margin-top: 100px;
        }
    }
}
