.resume {
    padding: 40px 0;
    background-color: #fff;
    color: #4d4d4d;

    h6 {
        font-weight: 600;
        margin-bottom: 10px;
    }
    p {
        font-family: 'Trajan', sans-serif;
        font-size: 20px;
        font-weight: normal;
        strong {
            font-size: 36px;
            font-weight: normal;
        }
    }
}

.detail {
    background: url(../../../images/bg-branco-lg.jpg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
    color: #4d4d4d;

    .title-line {
        margin-bottom: 40px;
    }

    .txt-carregando {
        padding: 15px 0 15px 35px;
    }

    .title-points {
        position: absolute;
        width: 210px;
        text-align: center;
        right: 15px;
        &::after {
            content: " ";
            position: absolute;
            bottom: -15px;
            height: 5px;
            right: 0;
            left: 0;
            background-color: $color1;
        }
    }

    table {
        margin-top: 40px;
        width: 100%;
        border-collapse: collapse;
    }
    th {
        font-weight: 600;
    }
    tr {
        th {
            white-space: nowrap;
        }
    }
    td, th {
        background-color: transparent;
        padding: 12px 6px 8px;
        border: none;
        text-align: left;
        strong {
            font-weight: 600;
        }
        &.ico {
            a {
                margin-bottom: -5px !important;
            }
        }
    }
    tbody {
        tr:nth-of-type(odd) {
            background: rgba(255,255,255,0.25);
        }
    }
    .ico-cupom {
        text-indent: -9999px;
        background: url(../../../images/icones/cupom.svg) no-repeat center;
        background-size: 15px 20px;
        background-position: 0 0;
        display: block;
        width: 20px;
        height: 26px;
    }
    .ico-voucher {
        text-indent: -9999px;
        background: url(../../../images/icones/voucher.png) no-repeat center;
        background-size: 18px 17px;
        background-position-y: -1px;
        width: 22px;
        height: 21px;
        display: block;
    }

}

.title-line {
    .title {
        text-transform: uppercase;
        font-style: italic;
        font-size: 17px;
        margin-bottom: 30px;
        white-space: nowrap;
    }
    hr {
        border-bottom: none;
    }
}

.vouchers {
    &.banner-parallax {
        .banner {
            .caption {
                h2 {
                    font-size: 50px;
                }
            }
        }
    }
    &.resume {
        background-color: #cccccc;
    }
}




@media only screen and (max-width:1200px) {
    .title-line {
        .title {
            white-space: normal;
        }
    }
}

@media only screen and (max-width:767px) {
    .points, .vouchers {
        &.banner-parallax {
            width: 100%;
            .banner {
                .ct-caption {
                    top: 5%;
                }
                .caption {
                    h2 {
                        font-size: 34px;
                    }
                    p.w500 {
                        max-width: 80vw;
                    }
                }
            }
        }

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            padding: 10px;
            border: 1px solid #ccc;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40% !important;
            font-size: 14px !important;
            .ico-cupom, .ico-voucher {
                text-indent: 0 !important;
                width: auto !important;
                height: auto !important;
                color: $color1 !important;
                text-decoration: underline !important;
                font-size: 14px !important;
                background: none !important;
            }
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 40%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
        */
        td:nth-of-type(1):before { content: "Ver detalhes"; font-weight: 600; }
        td:nth-of-type(2):before { content: "Data"; font-weight: 600; }
        td:nth-of-type(3):before { content: "Loja"; font-weight: 600; }
        td:nth-of-type(4):before { content: "Descrição"; font-weight: 600; }
        td:nth-of-type(5):before { content: "VL Cupom (R$)*"; font-weight: 600; }
        td:nth-of-type(6):before { content: "Pontos"; font-weight: 600; }
        td:nth-of-type(7):before { content: "Validade"; font-weight: 600; }
        td:nth-of-type(8):before { content: "Saldo"; font-weight: 600; }

        .hide-mobile {
            display: none !important;
        }

        .table-voucher {
            td:nth-of-type(1):before { content: "Ver detalhes"; font-weight: 600; }
            td:nth-of-type(2):before { content: "Data"; font-weight: 600; }
            td:nth-of-type(3):before { content: "Loja"; font-weight: 600; }
            td:nth-of-type(4):before { content: "Descrição"; font-weight: 600; }
            td:nth-of-type(5):before { content: "Dt. de Ativação"; font-weight: 600; }
            td:nth-of-type(6):before { content: "Dt. de Expiração"; font-weight: 600; }
            td:nth-of-type(7):before { content: "Status"; font-weight: 600; }
        }
    }

    .banner-parallax.points .banner .ct-caption {
        width: 100%;
    }
    .title-line {
        .title {
            margin-bottom: 0;
        }
        hr {
            margin-bottom: 20px;
        }
    }
    .resume {
        h6 {
            margin-top: 20px;
        }
    }
}
