#register-page {
    overflow: hidden;
    background: url(../../../images/bg-branco-sm.jpg) no-repeat center;
    background-size: cover;

    .shine.banner-left {
        margin-left: -600px;
    }

    .container-register {
        height: 100%;
        margin: 0 auto;
        padding: 40px 0;
        border-radius: 0;
        display: flex;
        justify-content: space-between;

        .description {
          small {
            white-space: nowrap;
          }
        }

        .btns {
            padding-top: 0;
        }

        .left-panel {
            width: 55%;
            overflow: hidden;
            position: relative;
            border-bottom: 8px solid $color1;

            @media only screen and (max-width:1200px) {
                width: 50%;
            }

            @media only screen and (max-width:990px) {
                width: 45%;
            }

            .bg-box {
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                background-color: black;
                transform: scale(1.05);
                transition: all 0.3s ease-out;
            }
            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate( -50%, -50% );
                z-index: 10;
                padding: 25px 0;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                p {
                    white-space: nowrap;
                    font-family: 'Trajan', sans-serif;
                    font-size: 48px;
                    text-align: center;
                    &.sm {
                        font-size: 20px;
                        line-height: 28px;
                        font-weight: 100;
                    }
                    &.md {
                        font-size: 48px;
                        line-height: 50px;
                    }
                    &.lg {
                        margin: 10px 0 10px 15px;
                        font-size: 240px;
                        letter-spacing: -10px;
                        height: 190px;
                        text-indent: -40px;
                    }

                    @media only screen and (min-width:1200px) {
                      &.sm {
                          font-size: 30px;
                          line-height: 38px;
                          font-weight: 100;
                      }
                      &.md {
                          font-size: 71px;
                          line-height: 78px;
                      }
                      &.lg {
                          position: relative;
                          left: 20px;
                          margin: 10px 0;
                          font-size: 360px;
                          letter-spacing: -20px;
                          height: 290px;
                          text-indent: -90px;
                      }
                    }
                }
            }
        }

        .right-panel {
            background-color: #e6e6e6;
            width: 45%;
            padding: 100px 0 0 30px;

            @media only screen and (max-width:1200px) {
                width: 50%;
            }

            @media only screen and (max-width:990px) {
                width: 55%;
            }

            @media only screen and (max-width:767px) {
              padding: 0;
            }

            .header {
                h2 {
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-bottom: 15px;
                    color: #000000;
                    font-size: 26px;
                    text-transform: capitalize;

                    span {
                      white-space: nowrap;
                      text-transform: capitalize;
                    }
                }
            }
            p {
                font-weight: 100;
                padding-left: 15px;
                padding-right: 15px;
                color: #808080;
                font: 16px 'Omnes', sans-serif, sans-serif;
                line-height: 20px;
            }
            form {
                margin-top: 30px;

                .btn-default {
                  padding: 15px 25px;
                  width: 100%;
                }
            }
        }

        &:hover {
            .left-panel {
                .bg-box {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    #register-page {
        .container-register {
            width: 100%;
            flex-wrap: wrap;
            .left-panel {
                order: 2;
                width: 100%;
                height: 450px;
            }
            .right-panel {
                order: 1;
                width: 100%;
            }
        }
    }
}
