.banner-default, .banner-parallax {
    position: relative;
    border-bottom: 1px solid $color1;
    height: 69vh;
    max-height: 650px;
    overflow: hidden;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover !important;
        background-position: center !important;
        z-index: -1;
    }

    .slides {
        height: 100%;
        li {
            height: 100%;
            background-size: cover !important;
            background-position: left center !important;
        }
    }

    .swiper-wrapper {
        height: 100%;
        opacity: 0;
    }

    .banner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.no-mask {
            &::after {
                display: none;
            }
        }

        &::after {
            content: " ";
            background: url(../../../images/mask-banner.png) no-repeat center left;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        .ct-caption {
            position: relative;
            width: 1140px;
            z-index: 5;
        }
        .caption {
            padding-top: 25px;
            h4 {
                margin-bottom: 15px;
                max-width: 250px;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 20px;
                font-style: italic;
            }
            h2 {
                // max-width: 480px;
                max-width: 100%;
                font-family: 'Trajan', sans-serif;
                font-size: 56px;
                text-transform: uppercase;
                color: $color2;
                margin-bottom: 15px;
                text-align: left;
                line-height: 60px;
                &.full {
                    max-width: 900px;
                    width: 100%;
                }
            }
            p {
                max-width: 250px;
                margin-bottom: 60px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                strong {
                    font-weight: 600;
                }
                &.gray {
                    color: #b3b3b3;
                }
                &.w400 {
                    max-width: 410px;
                }
                &.w500 {
                    max-width: 500px;
                }
                &.full {
                    max-width: 900px;
                    width: 100%;
                }
            }
        }
    }

    &.no-text {
        height: 20vw;
        .bg {
            background-size: 100% !important;
        }
        &::after {
            display: none;
        }
    }

    &.no-mask {
        &>::after {
            display: none;
        }
    }

    &.no-border {
        border-bottom: none;
    }

    &.light {
        .banner {
            .caption {
                color: #4d4d4d;
            }
        }
        &::after {
            display: none;
        }
    }

    &.points {
        height: 35vh;
        .banner {
            .line {
                top: 200px;
            }
        }
    }
}

.swiper-pagination-bullet {
    background: transparent !important;
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    &::before {
        content: " ";
        position: absolute;
        background-color: #b3b3b3;
        border-radius: 50%;
        top: 9px;
        left: 9px;
        width: 4px;
        height: 4px;
    }
    &::after {
        content: " ";
        position: absolute;
        border-radius: 50%;
        top: 6px;
        left: 6px;
        width: 10px;
        height: 10px;
        border: 1px solid #b3b3b3;
        transform: scale(0);
        transition: all 0.2s ease-in-out;
        transform-origin: center center;
    }
    &.active, &:hover {
        &::after {
            transform: scale(1);
        }
    }
}

.swiper-pagination-bullet-active {
    background: transparent !important;
    &::after {
        transform: scale(1);
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
        height: 100%;
        .img-desktop {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        .img-mobile {
            display: none;
            position: relative;
            height: auto;
            width: 100%;
        }
    }
}

@media only screen and (max-width:1400px) {
    .banner-default, .banner-parallax {
        .banner {
            .ct-caption {
                width: 80vw;
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .banner-default, .banner-parallax {
        height: 60vh;
        .banner {
            .ct-caption {
                width: 810px;
            }
            .caption {
                h2 {
                    font-size: 50px;
                    line-height: 56px;
                }
            }
        }
    }
}

@media only screen and (max-width:990px) {
    .banner-default, .banner-parallax {
        height: 430px;
        .banner {
            .ct-caption {
                width: 720px;
                .caption {
                    p {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .banner-default, .banner-parallax {
        height: auto;
        max-height: none;
        width: 100vw;
        overflow: hidden;
        .banner {
            height: auto;
            &::after {
                background-position: top center;
            }
            .ct-caption {
                position: absolute;
                top: 50%;
                left: 25px;
                width: 85%;
                transform: translate( 0%, -50% );
            }
            .line {
                display: none;
            }
            .caption {
                h2 {
                    font-size: 36px;
                    line-height: 40px;
                }
            }
        }
        .shine {
          display: none;
        }
    }
    .banner-parallax {
        .banner {
            height: 70vh;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &.no-text{
            height: 300px;
        }
        &.points {
            height: 250px;
            padding-left: 20px;
            padding-right: 20px;
            .banner {
                width: 100% !important;
            }
        }
    }



    .swiper-container {
        height: auto;
        .swiper-wrapper {
            height: auto;
        }
        .swiper-slide {
            height: auto;
            .img-desktop {
                display: none;
            }
            .img-mobile {
                display: block;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .data {
        padding: 60px 0;
        .data-item {
            margin-bottom: 50px;
            h4 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
        .line {
            display: none;
        }
    }
}

@media only screen and (max-height:910px) and (min-width:768px) {
    .banner-default, .banner-parallax {
        height: 540px;
    }
}
