body {
    //opacity: 0;
}

#kc-site {
    padding-top: 111px;

    &.landing {
        padding-top: 0;
        height: 100%;
    }
}

section {
    position: relative;
    overflow-x: hidden;

    h2 {
        margin-bottom: 60px;
        font-family: 'Trajan', sans-serif;
        font-size: 32px;
        line-height: 36px;
        color: $color3;
        text-align: center;
        text-transform: uppercase;
        span {
            color: $color1;
            text-transform: uppercase;
        }
    }
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}

.shine {
    position: absolute;
    background: url(../../../images/grafismo-dourado.png) no-repeat;
    width: 328px;
    height: 190px;
    left: 50%;
    pointer-events: none;
    z-index: 130;

    &.type2 {
        background: url(../../../images/grafismo-dourado-2.png) no-repeat;
        width: 290px;
        height: 168px;
    }

    &.black {
        background: url(../../../images/grafismo-preto.png) no-repeat;
        width: 305px;
        height: 197px;
    }

    &.banner-right {
        top: -60px;
        margin-left: 390px;
        opacity: 0;
        transform: translateY(-100px);
    }

    &.banner-left {
        bottom: -80px;
        margin-left: -390px;
        opacity: 0;
        transform: translateY(100px);
    }

    &.products-right {
        top: -20px;
        margin-left: 600px;
    }

    &.products-left {
        bottom: -50px;
        margin-left: -940px;
    }

    &.register-right {
        top: -20px;
        margin-left: 100px;
    }

    &.register-left {
        bottom: -50px;
        margin-left: -240px;
    }

    &.experience-right {
        top: -20px;
        margin-left: 340px;
    }

    &.section-right {
        top: -20px;
        margin-left: 390px;
    }

    &.contact-right {
        top: -20px;
        margin-left: 450px;
    }
}

.btn-default {
    -webkit-appearance: none;
    border-radius: 0;
    text-align: center;
    position: relative;
    background: transparent;
    display: inline-block;
    color: $color1;
    padding: 10px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    font-family: "Omnes", sans-serif;
    font-weight: 500;
    transition: background-color, color 0.3s ease-out;

    &.border {
        border: 1px solid $color1;

        $background: $color1;
        $grey-nuance-lighter: $color1;
        $grey-nuance-darker: #9B825C;
        $fade-grey: #e8e8e8;
        &.loading {
            color: #fff !important;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeload;
            animation-timing-function: linear;
            background: $background;
            background: $grey-nuance-lighter;
            background: -webkit-gradient(
                    linear,
                    left top,
                    right top,
                    color-stop(8%, $grey-nuance-lighter),
                    color-stop(18%, $grey-nuance-darker),
                    color-stop(33%, $grey-nuance-darker)
            );
            background: linear-gradient(
                    to right,
                    $grey-nuance-lighter 8%,
                    $grey-nuance-darker 18%,
                    $grey-nuance-lighter 33%
            );
            background-size: 1200px 100px;
            position: relative;
        }

        @-webkit-keyframes placeload{
            0% {
                background-position: -468px 0;
            }
            100% {
                background-position: 468px 0;
            }
        }

        @keyframes placeload {
            0% {
                background-position: -468px 0;
            }
            100% {
                background-position: 468px 0;
            }
        }
    }

    &.type2 {
        padding: 20px 30px;
        background: rgba(0,0,0,0.7);
    }

    &.lg {
        padding: 15px 30px;
        font-size: 24px;
    }

    &:not(.border) {
        &:hover {
            color: #A38963 !important;
        }
    }

}

.line {
    position: absolute;
    background: url(../../../images/linha.png) no-repeat center;
    width: 255px;
    height: 336px;
    top: 50%;
    left: -200px;
    margin-top: -205px;

    &.type2 {
        top: 100px;
        left: -110px;
        background: url(../../../images/linha-2.png) no-repeat center;
    }

    &.type3 {
        width: 195px;
        height: 214px;
        top: 100px;
        left: 0;
        background: url(../../../images/linha-3.png) no-repeat center;
    }
}

.btn-close {
    position: relative;
    width: 23px;
    height: 23px;
    span {
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: #fff;
        transition: all 0.5s ease-out;
    }
    .line1 {
        transform: rotate(50deg);
    }
    .line2 {
        transform: rotate(-50deg);
    }

    &:hover {
        span {
            background-color: $color1;
        }

        &.gray {
            .line1, .line2 {
                background-color: $color1;
            }
        }
    }

    &.gray {
        .line1, .line2 {
            background-color: #b9b9b9;
        }
    }
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    &.center {
        justify-content: center;
    }
    &.left {
        justify-content: flex-start;
    }
    &.between {
        justify-content: space-between;
        &>* {
            width: 46%;
        }
    }
}

.box-tooltip {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 385px;
    height: 420px;
    border-radius: 15px;
    background: url(../../../images/bg-branco-sm.jpg) no-repeat center;
    box-shadow: 7px 7px 14px 0 rgba(50, 50, 50, 0.5);

    &::before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 181px;
        width: 23px;
        height: 23px;
        background: url(../../../images/bg-branco-sm.jpg) no-repeat center;
        transform: rotate(-45deg);
        transform-origin: 0 0;
    }

    &.show {
        display: block;
    }
}

.toastify {
    border-radius: 5px !important;
    color: #808080 !important;
    background: #fff !important;
    &.success {
        color: darkgreen !important;
        background: #ffffff !important;
    }
    &.error {
        color: $color2 !important;
        background: #ffffff !important;
    }
}

.toast-close {
    margin-left: 10px !important;
}

@media only screen and (max-width:1200px) {
    .shine {
        &.register-left {
            display: none;
        }
    }
    .btn-default {
        &.lg {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width:990px) {
    section {
        h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width:767px) {
    #kc-site {
        padding-top: 71px;
    }
}

@media only screen and (max-height:910px) and (min-width:768px) {
    .shine {
        &.banner-right {
            top: -70px;
        }
    }
}

@media (hover: hover) {
    .btn-default {
        &.border {
            &:hover, &:focus {
                background-color: $color1;
                color: #fff !important;
            }
        }
    }
}
