.form-default {
    .field {
        height: 50px;
        position: relative;
        &.auto {
            height: auto;
        }
        label {
            color: #808080;
            transition: all 0.2s ease-out;
            font-size: 14px;
            a {
                color: $color1;
                text-decoration: underline;
            }
        }
        textarea, select, input[type=text], input[type=tel], input[type=email], input[type=password] {
            -webkit-appearance: none;
            display: block;
            width: 100%;
            border: none;
            background: url(../../../images/loading-gray.gif) no-repeat 200% transparent;
            border-bottom: 1px solid #c7c7c7;
            padding: 5px 0;
            margin-bottom: 0;
            font-size: 16px;
            color: $color1;
            font-family: 'Omnes', sans-serif;
            font-weight: 300;
            transition: all 0.3s ease-out;
            &:focus {
                border-bottom: 1px solid $color1;
                &+label {
                    font-size: 14px;
                }
            }
            &.error-border {
                border-bottom: 1px solid $color2;
            }
            &.loading {
                transition: none;
                background-position: 100% center;
            }
        }
        input, button {
            font-family: "Omnes", sans-serif;
            font-weight: 400;
        }
        .error {
            label {
                color: $color2;
                font-weight: 500;
                font-size: 11px;
            }
        }

        .styled-checkbox {
            position: absolute;
            opacity: 0;
            top: 0;

            & + label {
                position: relative;
                cursor: pointer;
                padding: 0;
            }

            // Box.
            & + label:before {
                content: '';
                position: relative;
                top: 0;
                margin-top: 0;
                margin-right: 10px;
                display: inline-block;
                vertical-align: text-top;
                width: 15px;
                height: 15px;
                background: white;
            }

            // Box hover
            &:hover + label:before {
                background: #82c8be;
            }

            // Box focus
            &:focus + label:before {
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
            }

            // Box checked
            &:checked + label:before {
                background: #82c8be;
            }

            // Disabled state label.
            &:disabled + label {
                color: #b8b8b8;
                cursor: auto;
            }

            // Disabled box.
            &:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

            // Checkmark. Could be replaced with an image
            &:checked + label:after {
                content: '';
                position: absolute;
                left: 2px;
                top: 7px;
                background: white;
                width: 2px;
                height: 2px;
                box-shadow:
                    2px 0 0 white,
                    4px 0 0 white,
                    4px -2px 0 white,
                    4px -4px 0 white,
                    4px -6px 0 white,
                    4px -8px 0 white;
                transform: rotate(45deg);
            }
        }
    }

    //DEFAULT RESET
    //Blue background Chrome
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px #e6e6e6 inset !important;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color1;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color1;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $color1;
    }

    /*Change text in autofill textbox*/
    input:-webkit-autofill {
        -webkit-text-fill-color: $color1 !important;
    }

    //SELECT CUSTOM
    $select-color: $color1;
    $select-background: $color1;
    $select-width: 100%;
    $select-height: 28px;

    .select-hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }

    .select {
        cursor: pointer;
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: $select-color;
        width: $select-width;
        height: $select-height;
    }

    .select-styled {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        padding: 5px 0;
        font-weight: 400;
        transition: all 0.2s ease-in;
        border-bottom: 1px solid #c7c7c7;

        &.error-border {
            border-bottom: 1px solid $color2;
        }

        &:after {
            content:"";
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-color: $select-color transparent transparent transparent;
            position: absolute;
            top: 8px;
            right: 10px;
        }
        &:hover {
            //background-color: blue;
        }
        &:active, &.active {
            //background-color: pink;
            &:after {
                top: 9px;
                border-color: transparent transparent $select-color transparent;
            }
        }
    }

    .select-options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $select-background;
        li {
            color: #fff;
            margin: 0;
            padding: 12px 0;
            text-indent: 15px;
            border-top: 1px solid darken($select-background, 10);
            transition: all 0.15s ease-in;
            &:hover {
                color: #fff;
                background: darken($select-background, 10);
            }
            &[rel="hide"] {
                display: none;
            }
        }
    }
}

@media only screen and (max-width:990px) {
  .form-default {

  }
}
