/**************************\
  Basic Modal Styles
\**************************/

.modal {
    visibility: hidden;
    display: none;
    position: relative;
    z-index: 200;
    box-shadow: 7px 7px 14px 0 rgba(50, 50, 50, 0.5);

    .overlay {
        outline: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-modal {
        background: url('../../../images/bg-branco-sm.jpg') repeat-y top #fff;
        position: relative;
        padding: 44px 30px 10px;
        width: 590px;
        max-height: 100vh;
        border-radius: 10px;
        overflow-y: auto;
        box-sizing: border-box;

        .btn-close {
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .header {
            h2 {
                text-align: center;
                font-family: 'Trajan', sans-serif;
                font-size: 28px;
                font-weight: normal;
                text-transform: uppercase;
                span {
                    color: $color1;
                }
            }
        }

        .title {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 1.25rem;
            color: #000;
            span {
                color: $color1;
            }
        }

        .content {
            padding: 30px 0 0;
            p {
                font-family: 'Omnes', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #808080;
                margin-bottom: 20px;
                strong {
                    font-weight: 600;
                    &.danger {
                        color: $color2;
                    }
                }
            }
        }

        footer {
            p {
                color: #808080;
                text-align: center;
                font-size: 12px;
                strong {
                    font-weight: 600;
                    &.danger {
                        color: $color2;
                    }
                }
            }
        }
    }

    &.forgot-password {
        text-align: center;

        &.success {

            .title {
                max-width: 100%;
            }
            .email-changed {
                text-align: center;
                display: none;
            }
            .info {
                display: none;
                &.show {
                    display: block;
                }
            }
            .email-verify {
                display: none;
                padding-left: 20px;
                font-weight: 500;
                text-align: left;
                color: #808080;
                margin-bottom: 30px;
                span {
                    font-weight: 600;
                    color: #3f9d4c;
                }
            }

        }

        .title {
            max-width: 340px;
            margin: 0 auto;
            p {
                text-align: left;
            }
        }
        .fields {
            max-width: 340px;
            margin: 0 auto;
            text-align: left;
        }
        p {
            width: 100%;
            a {
                color: $color1;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }

    &.first-access {
        text-align: center;
        margin-bottom: 60px;

        .title {
            max-width: 100%;
            margin: 0 auto;

            p {
                text-align: left;
            }
        }
        p {
            width: 100%;
            a {
                color: $color1;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }

    &.register {

        &.full {
            .overlay {
                display: block;
                overflow: hidden;
            }

            .container-modal {
                width: 85vw;
                max-width: 1300px;
                margin: 0 auto;
                height: auto;
                max-height: auto;

                display: flex;
                justify-content: space-between;

                @media only screen and (max-width:640px) {
                    padding: 20px 0;
                }

                .container-register {
                    height: 100%;
                    margin: 0 auto;
                    border-radius: 0;
                    display: flex;
                    justify-content: space-between;

                    .description {
                        small {
                            white-space: nowrap;
                        }
                    }

                    .btns {
                        padding-top: 0;
                    }

                    .left-panel {
                        width: 55%;
                        overflow: hidden;
                        position: relative;
                        border-bottom: 8px solid $color1;

                        @media only screen and (max-width:767px) {
                            width: 10%;
                        }

                        .bg-box {
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            background-color: black;
                            transform: scale(1.05);
                            transition: all 0.3s ease-out;
                        }

                    }

                    .right-panel {
                        background-color: #e6e6e6;
                        width: 45%;
                        padding: 0 0 0 30px;

                        @media only screen and (max-width:767px) {
                            width: 90%;
                            padding: 0;
                        }

                        .header {
                            h2 {
                                text-align: left;
                                padding-left: 15px;
                                padding-right: 15px;
                                color: #000000;
                                font-size: 26px;
                                text-transform: capitalize;

                                span {
                                    white-space: nowrap;
                                    text-transform: capitalize;
                                }
                            }
                        }
                        p.description {
                            font-weight: 100;
                            padding-left: 15px;
                            padding-right: 15px;
                            color: #808080;
                            font: 16px 'Omnes', sans-serif, sans-serif;
                            line-height: 20px;
                        }
                        form {
                            margin-top: 30px;

                            .btn-default {
                                padding: 15px 25px;
                            }
                        }
                    }

                    @media only screen and (min-width:767px) {
                        &:hover {
                            .left-panel {
                                .bg-box {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }

                    .lnk-inline {
                        display: block;
                        margin-top: 14px;
                        color: grey;
                        font-weight: 400;
                        text-decoration: underline;
                        font-size: 14px;
                        cursor: pointer;

                        &.center {
                            text-align: center;
                        }
                    }

                    .incorrect-address {
                        &.trigged {
                            cursor: default;
                            text-decoration: none;
                            text-align: left;
                        }
                    }

                    .activate {
                        .readonly,
                        input:readonly,
                        select:readonly,
                        input:-moz-read-only {
                            background-color: #dcdcdc!important;
                            color: #7b7b7b!important;
                        }

                        .readonly,
                        input[readonly],
                        select[readonly] {
                            background: #dcdcdc!important;
                            color: #7b7b7b!important;
                            pointer-events: none;
                            touch-action: none;
                        }

                        .readonly::placeholder,
                        input[readonly]::placeholder,
                        select[readonly]::placeholder,
                        .readonly::-webkit-input-placeholder,
                        input[readonly]::-webkit-input-placeholder,
                        select[readonly]::-webkit-input-placeholder,
                        .readonly:-ms-input-placeholder,
                        select[readonly]:-ms-input-placeholder,
                        input[readonly]:-ms-input-placeholder {
                            color: #7b7b7b!important;
                        }
                    }
                }

                @media only screen and (max-width:767px) {
                    .container-register {
                        width: 100%;
                        flex-wrap: wrap;
                        .left-panel {
                            order: 2;
                            width: 100%;
                            height: 250px;
                        }
                        .right-panel {
                            order: 1;
                            width: 100%;
                        }
                    }
                }
            }
            .info {
                margin: 30px 0 20px;
                p {
                    text-align: center;
                    strong {
                        font-weight: 600;
                    }
                    &:last-child {
                        margin-top: 10px;
                    }
                }
                label {
                    color: #808080;
                }
            }
            .info2 {
                p {
                    font-size: 12px;
                }
                label {
                    font-size: 12px;
                    font-weight: 600;
                    color: #808080;
                }
                .error {
                    label {
                        color: $color2;
                        font-size: 11px;
                        font-weight: 500;
                    }
                }
                .field .styled-checkbox + label:before {
                    //margin-top: 0;
                }
            }
            .btns {
                margin-top: 30px;
            }
            #btn-unsubscribe {
                margin-top: 10px;
                margin-bottom: 60px;
                display: block;
                text-align: center;
                color: #808080;
                font-weight: 400;
                text-decoration: underline;
                font-size: 14px;
                &:hover {
                    font-weight: 500;
                }
            }
            .security {
                margin: 40px 0;
                p {
                    padding: 0 !important;
                    strong {
                        font-weight: 600;
                    }
                }
                a {
                    width: 100%;
                }
            }
        }
    }

    &.coupon {
        .container-modal {
            width: 800px;
            max-height: 80vh;
            overflow: auto;
        }

        .store {
            padding: 5px;
            color: $color1;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .table {
            color: #808080;
            width: 100%;
            header {
                display: flex;
                justify-content: space-between;
                &>div {
                    padding: 5px;
                    font-weight: 600;
                }
            }
            .content {
                .product {
                    display: flex;
                    justify-content: space-between;
                    div {
                        padding: 5px;
                    }
                    &:nth-child(odd) {
                        background: rgba(255,255,255,0.25);
                    }
                }
            }
            div {
                text-align: right;
                line-height: 20px;
            }
            .name {
                text-align: left;
                width: 40%;
            }
            .amount {
                width: 20%;
            }
            .unit {
                width: 20%;
            }
            .total {
                width: 20%;
            }
        }
    }

    &.voucher {
        .container-modal {
            width: 800px;
            max-height: 80vh;
            overflow: auto;
        }

        h1 {
            display: none;
            img {
                display: block;
                width: 250px;
                margin: 0 auto 40px;
            }
        }

        #dt-start {
            text-align: center;
            font-weight: 600;
            color: #000000;
            margin-bottom: 10px;
        }

        .store {
            padding: 5px;
            color: $color1;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .table {
            color: #808080;
            width: 100%;
            margin-bottom: 40px;

            header {
                display: flex;
                justify-content: space-between;

                &>div {
                    padding: 5px;
                    font-weight: 600;
                }

                .mobile {
                    display: none;
                }
            }
            .content {
                .product {
                    display: flex;
                    justify-content: space-between;
                    div {
                        padding: 5px;
                    }
                    &:nth-child(odd) {
                        background: rgba(255,255,255,0.25);
                    }
                }
            }
            div {
                text-align: right;
                line-height: 20px;
            }
            .description {
                text-align: left;
                width: 50%;
            }
            .start-date {
                display: none;
            }
        }

        .btns {
            &.between {
                justify-content: space-between;
                &>* {
                    width: 150px;
                }
            }
        }
    }

    &.lgpd {
        .container-modal {
            background: url('../../../images/bg-modal.jpg') repeat center #d4d4d4;
            max-width: 1110px;
            width: 90%;
            border-radius: 0;
            position: relative;

            &::before {
                content: " ";
                position: absolute;
                top: 17px;
                right: 17px;
                bottom: 17px;
                left: 17px;
                border: 1px solid #9a6f39;
            }

            .btn-close {
                top: 25px;
                right: 25px;
            }

            .content {

                &::before {
                    content: " ";
                    position: absolute;
                    background: url('../../../images/grafismo-dourado-pequeno.png') repeat center transparent;
                    width: 186px;
                    height: 178px;
                    left: 0;
                    bottom: 18px;
                }

                &::after {
                    content: " ";
                    position: absolute;
                    background: url('../../../images/grafismo-dourado-pequeno.png') repeat center transparent;
                    width: 186px;
                    height: 178px;
                    right: 0;
                    bottom: 18px;
                    transform: scaleX(-1);
                }

                p {
                    max-width: 80%;
                    margin: 0 auto 40px;
                    font-size: 26px;
                    font-weight: 600;
                    line-height: 34px;
                    color: #000000;
                    text-transform: uppercase;
                    text-align: center;
                }

                .selects {
                    width: 500px;
                    margin: 0 auto;
                }

                .form-default {
                    .field {
                        .styled-checkbox + label {
                            text-transform: uppercase;
                            font-size: 18px;
                            color: #333333;
                        }

                        .styled-checkbox + label:before {
                            top: 2px;
                        }

                        .styled-checkbox + label:after {
                            top: 9px;
                        }
                    }

                    .btn-default {
                        background: url("../../../images/bg-btn.png") no-repeat;
                        background-size: cover;
                        text-transform: uppercase;
                        color: #ffffff;
                        border: none;
                        margin-top: -10px;
                        margin-bottom: 15px;
                    }
                }

                .more-info {
                    margin-bottom: 30px;

                    p {
                        text-align: center;
                        font-size: 12px;
                        color: #666666;
                        text-transform: none;
                        line-height: 14px;
                        font-weight: 600;
                        margin-bottom: 10px;

                        a {
                            font-size: 12px;
                            color: #666666;
                            text-decoration: underline;
                            transition: all 0.3s ease-out;

                            &:hover {
                                color: #9a6f39
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1010px) {
    .modal {
        &.lgpd {
            .container-modal {
                background-size: cover;

                .header {
                    h2 {
                        img {
                            width: 130px;
                            height: auto;
                        }
                    }
                }

                .btn-default {
                    padding: 14px 35px;
                }

                .content {
                    padding-top: 20px;

                    &::before {
                        background-size: contain;
                        width: 80px;
                        height: 80px;
                        bottom: 108px;
                    }

                    &::after {
                        background-size: contain;
                        width: 80px;
                        height: 80px;
                        bottom: 108px;
                    }

                    p {
                        max-width: 100%;
                        font-size: 16px;
                        line-height: 21px;
                        margin-bottom: 20px;
                    }

                    .selects {
                        width: 100%;
                        margin-left: -25px;
                        margin-right: -25px;
                    }

                    .form-default {
                        .field {
                            .styled-checkbox + label {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:990px) {
    .modal {
        &.register {
            &.full {
                .container {
                    max-width: 100%;
                }
                .container-modal {
                    width: 100vw;
                    max-height: 1240px;
                    border-radius: 0;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .modal {
        .container-modal {
            width: 95%;
            .header {
                h2 {
                    font-size: 24px;
                }
            }
            .btn-default {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 14px 5px;
            }
            .btn-close {
                z-index: 10 !important;
            }
        }
        &.register {
            .container-modal {
                max-height: none;
                .left-panel {
                    // display: none;
                }
                .right-panel {
                    // width: 100%;
                    p {
                        br {
                            display: none;
                        }
                    }
                }
            }
            &.full {
                .overlay {
                    overflow-y: auto;
                }
                .container-modal {
                    width: 100vw;
                    height: auto;
                    max-height: none;
                    .right-panel {
                        width: 100%;
                        padding: 0;
                    }
                }
            }
        }
        &.forgot-password {
            .info, .email-changed {
                text-align: left;
            }
        }
        &.coupon {
            .container-modal {
                height: auto;
                .content {
                    font-size: 13px;
                }
            }
        }
        &.voucher {
            .table {
                header {
                    display: block;
                    .mobile {
                        display: block;
                    }
                    div {
                        display: block;
                        width: 100% !important;
                        text-align: left !important;
                        &.mobile {
                            margin-bottom: 10px;
                            background: rgba(255, 255, 255, 0.25);
                            font-weight: normal;
                        }
                    }
                }
                .content {
                    display: none;
                }
            }
            .btns {
                display: none;
            }
        }
    }
}

@media print {

    html, body {
        height:100%;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;

        .modal {
            .overlay {
                display: block;
            }
            &.voucher {
                .container-modal {
                    width: 100%;
                    transform: translate3d(0, 0, 0) !important;
                }
                h1 {
                    display: block;
                }
                .table {
                    font-family: "arial", sans-serif;
                }
                .btns {
                    display: none;
                }
            }
        }
    }

}
