.social-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  li {
    margin-left: 10px;
    a {
      .svg-icon {
        width: 25px;
        height: 25px;
        path, circle {
          transition: all 0.3s ease-in-out;
        }
      }
      &:hover {
        .svg-icon {
          path, circle {
            fill: $color1;
          }
        }
      }
    }
  }
}