#video {
  width: 100%;
  height: 100%;
}

.video-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;

  .overlay-close {
    position: absolute;
    top: 70px;
    right: 35px;
    cursor: pointer;
    background-image: url('../../../images/icones/close-icon.png');
    width: 49px;
    height: 48px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
