//BOX REGISTER
.box-register {
    position: relative;
    overflow: hidden;
    height: 430px;
    .banner {
        .line {
            top: -165px;
        }
        .caption {
            h2 {
                font-size: 45px;
                color: #fff;
                line-height: 40px;
                .sm {
                    font-size: 36px;
                    color: #fff;
                }
            }
            p {
                margin-bottom: 25px;
            }
        }
    }
}

//COMO FUNCIONA
#how-to {
    position: relative;
    padding: 110px 0;
    overflow-x: hidden;

    .bg {
        position: absolute;
        background: url('../../../images/brilho.jpg') repeat-x top center;
        height: 230px;
        top: 0;
        left: 0;
        right: 0;
    }

    .benefits {
        &>div {
            position: relative;
            text-align: center;
            margin-bottom: 70px;
            padding-left: 50px;
            .line {
                left: -10px;
                margin-top: -165px;
            }
            .ico {
                margin-bottom: 40px;
            }
            .text {
                max-width: 190px;
                margin: 0 auto;
                text-align: left;
            }
            h5 {
                margin-bottom: 30px;
                font-family: 'Omnes', sans-serif;
                font-size: 20px;
                font-weight: 700;
                color: $color1;
            }
            p {
                font-family: 'Omnes', sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: $color3;
            }
            &:last-child {
                padding-left: 70px;
                .ico {
                    margin-bottom: 30px;
                }
                .text {
                    padding-left: 20px;
                    max-width: 205px;
                    h5 {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .btn-default {
        display: block;
        width: 365px;
        margin: 0 auto;
    }

    .keep-registration {
        text-align: center;
        display: none;
        margin-bottom: 20px;
        color: #b2b2b2;
    }

    .btn-complete-registration {
        display: none;
    }
}

//PRODUTOS
#products {
    position: relative;
    overflow: hidden;
    background: url('../../../images/bg-branco-sm.jpg') no-repeat center #fff;
    background-size: cover;
    padding: 50px 0 40px;

    h2 {
        color: #000;
        margin-bottom: 80px;
    }

    .container {
        max-width: 1170px;
    }

    .product {
        .image {
            height: 290px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 20px;
            &.castanha {
                img {
                    transform: translateX(25px);
                }
            }
            &.flocos {
                img {
                    transform: translateX(40px);
                }
            }
            &.amargo {
                img {
                    transform: translateX(15px);
                }
            }
            &.gato {
                img {
                    transform: translateX(30px);
                }
            }
        }
        .text {
            border-left: 1px solid #000;
            padding: 15px 20px;
            h6 {
                color: $color2;
                font-size: 16px;
                font-family: 'Omnes', sans-serif;
                font-weight: 600;
            }
            p {
                color: #000;
            }
        }
    }
}

//SECOES COM TEXTO
.box-text {
    background: #ffffff;
    padding: 30px 0 60px;
    * {
        color: #4d4d4d;
    }
    h1 {
        font-family: "Trajan", sans-serif;
        font-size: 28px;
        color: $color2;
        line-height: 40px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 20px;
        max-width: 60%;
    }
    h3 {
        font-family: "Trajan", sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    h4 {
        font-family: "Trajan", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
        text-align: justify;
        line-height: 23px;
    }
    ul {
        margin-bottom: 20px;
        list-style: circle;
        padding-left: 40px;
    }

    table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 30px;
        min-width: 500px;
    }
    table, tr, td, th {
        border: 1px solid #EBEBEB;
    }
    td {
        height: 50px;
        vertical-align: bottom;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
}

@media only screen and (max-width:1200px) {
    .box-register {
        height: 350px;
        .banner {
            .caption {
                padding-top: 0;
            }
        }
    }

    #how-to {
        .benefits {
            &>div {
                .line {
                    left: -50px;
                }
            }
        }
    }
}

@media only screen and (max-width:990px) {
    #how-to {
        .benefits {
            &>div {
                padding-left: 0;
                .line {
                    display: none;
                }
                p {
                    br {
                        display: none;
                    }
                }
                .text {
                    h5 {
                        text-align: center;
                    }
                }
                &:last-child {
                    padding-left: 0;
                }
            }
        }
    }
    .box-text {
        h1 {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width:767px) {
    .box-register {
        overflow: hidden;
        width: 100vw;
        height: 410px;
        .banner {
            .caption {
                h2 {
                    font-size: 34px;
                }
                p {
                    font-size: 14px;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
    #how-to {
        padding: 80px 0;
        .benefits {
            &>div {
                padding-left: 30px;
                .line {
                    display: block;
                    left: -70px;
                    margin-top: -155px;
                }
                .ico {
                    margin-bottom: 25px;
                }
                .text {
                    max-width: 240px;
                    h5 {
                        margin-bottom: 20px;
                    }
                }
                &:last-child {
                    padding-left: 30px;
                }
            }
        }
        .btn-default {
            width: 100%;
        }
    }
    #products {
        h2 {
            margin-bottom: 40px;
        }
    }
    .box-text {
        p {
            text-align: left;
        }
        table {
            min-width: 100%;
            width: 100%;
        }
    }
}
